﻿@media only screen and (min-height: 775px) {
    .sidebar-right.SmartLight .widget-content {
        max-height: 425px;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 425px;
    }
}

@media only screen and (max-height: 774px) {
    .widget-content:not(.maxheight-auto) {
        max-height: 359px;
    }

    ul.sidebar-menu li a {
        height: 50px;
        line-height: 50px;
    }

    ul.sidebar-menu li:not(.bottom-nav) a:hover {
        margin: 0 7px;
        height: 50px;
        width: 50px;
    }

    ul.sidebar-menu li a:hover:before {
        height: 50px;
        width: 50px;
    }

    .sidebar-menu li.active a:before {
        width: 50px;
        height: 50px;
    }

    .sidebar-menu li.active a {
        width: 50px;
        height: 50px;
    }

    .sidebar-right.SmartLight .widget-content {
        max-height: 425px;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 425px;
    }
}

@media only screen and (max-height: 760px) {
    .sidebar-right.SmartLight .widget-content {
        max-height: 415px;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 415px;
    }
}

@media only screen and (max-height: 700px) {
    .widget-content:not(.maxheight-auto) {
        max-height: 325px;
    }

    .sidebar-right.HumanPresence .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Home .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.AirCond .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Elevator .widget > .widget-content:not(.maxheight-auto) {
        max-height: 250px;
    }

    .widget-content.maxheight-auto {
        max-height: 510px;
    }

    .widget-content.active ~ .widget-footer {
        height: 130px !important;
    }

    /*#devicebox-AHU301 {
        bottom: 230px;
    }*/

    div#devicebox-alert {
        top: 60px;
    }
}

@media only screen and (max-height: 670px) {
    .sidebar-right.SmartPlug .widget-content {
        max-height: 325px;
    }
}

@media only screen and (max-height: 640px) {
    .widget-content:not(.maxheight-auto) {
        max-height: 290px;
    }

    .sidebar-right.SmartPlug .widget-content {
        max-height: 290px;
    }
    
    .sidebar-right.SmartLight .widget-content {
        max-height: 290px;
    }

    .sidebar-right.HumanPresence .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Home .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.AirCond .widget > .widget-content:not(.maxheight-auto),
    .sidebar-right.Elevator .widget > .widget-content:not(.maxheight-auto) {
        max-height: 220px;
    }

    .widget-content.maxheight-auto {
        max-height: 480px;
    }

    #devicebox-PAU1, #devicebox-PAU2 {
        top: 50px;
    }

    #devicebox-AHU702, #devicebox-AHU701 {
        top: 170px;
    }

    #devicebox-AHU301 {
        top: 287px;
    }

    div#devicebox-alert {
        top: 60px;
    }

    ul.sidebar-menu li a {
        height: 45px;
        line-height: 45px;
    }

    ul.sidebar-menu li:not(.bottom-nav) a:hover {
        margin: 0 7px;
        height: 45px;
        width: 45px;
    }

    ul.sidebar-menu li a:hover:before {
        height: 45px;
        width: 45px;
    }

    .sidebar-menu li.active a:before {
        width: 45px;
        height: 45px;
    }

    .sidebar-menu li.active a {
        width: 45px;
        height: 45px;
    }

    ul.sidebar-menu li a:hover > .tooltip-menu {
        left: 50px;
        top: 10px;
    }
}
