﻿@{
    ViewBag.Title = "Has.App - Smart Building";
    string gltf = Url.Content("~/Content/assets/digitaltwin/bldnew/has_building.gltf");
    string cgltf7f = Url.Content("~/Content/assets/digitaltwin/bldnew/has_7f.gltf");
    string cgltf3f = Url.Content("~/Content/assets/digitaltwin/bldnew/has_3f.gltf");
    string ctexture = Url.Content("~/Content/assets/digitaltwin/textures/cube/Bridge2/");
    string bg_cube = Url.Content("~/Content/assets/digitaltwin/img/bg-cube.jpg");
    string font_digtwin = Url.Content("~/Content/assets/digitaltwin/fonts/gentilis_regular.typeface.json");
    string default_scenes = has.app.Components.Constants.digitalTwinScenes();
}
<!-- index -->
<script src="@Url.Content("~/Content/assets/digitaltwin/build/three.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/controls/OrbitControls.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/controls/TransformControls.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/loaders/GLTFLoader.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/loaders/DRACOLoader.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/WebGL.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/libs/stats.min.js")"></script>
<script src="@Url.Content("~/Content/assets/digitaltwin/js/libs/dat.gui.min.js")"></script>

<script>
	//--------------------------------------------------
    if ( WEBGL.isWebGLAvailable() === false ) {
        document.body.appendChild( WEBGL.getWebGLErrorMessage() );
    }

    var mouse = new THREE.Vector2(), INTERSECTED, INTERSECTED_HOVER;
    var powerLastMesh = [];
    const color_global = {
        lightblue: "0X45b8ed",//60%
		blue30: "0x000099",
        green: "0X71c180",
        green_lime: "0x00FF00",
        yellow: "0Xffff33",//yellow60
        yellow_bright: "0XFFFF00",
        orange: "0Xf89937",
        red: "0Xed4845",
        white: "0Xffffff",
        grey: "0x666666",
        darkgrey: "0x222222",
        black: "0X000000",
        pink: "0xfe3f69",
        purple: "0x673ab7",
		
		//Human Color
        magenta: "0XEF00E5",
        light_blue: "0X71C8F1",
        violet_purple: "0X7F63F4",
        yellow_2: "0XF8ED37",
        orange_2: "0XF89937",
    };

    var intersectScene = {};
	var lift = [];
    var liftobject = [];
	var liftname = [];
	var floor = [];
	var aircon_floor = [];
	var aircon_room = [];
	var all_object = [];
    var sensor_zone = [];
    let default_zone_material;
    let current_camera_control = "";
	//----------
    var bgCube;
    var power_room = [];
    var object_grid = [];
	var rollOverMesh, rollOverMaterial;
    var transform;
    var hover = 30,
		curveSegments = 1,
		bevelThickness = 1,
		bevelSize = 1.5,
		bevelEnabled = false,
        font = undefined; // normal bold
    var textMesh = [];
    var textMesh2;
    var group;
    var floor_coor = [];

	var hitachilogo = [];

	//var lightHelper;
	//--------------------------------------------------
	var container, stats, controls;
    var camera, orbitControls, scene, renderer, light;
	var loader;
	var gltfobj, mixer, gui, extensionControls,gltf;
	var raycaster;
	//--------------------------------------------------
    var scenes = @Html.Raw(default_scenes);
	var state = {
                scene: Object.keys(scenes)[0],
                extension: scenes[Object.keys(scenes)[0]].extensions[0],
                playAnimation: true,
                cameraPosition: '0, 0, 0',
                orbitControls: '0, 0, 0'
            };
    let preventOnLoad = false;
	//--------------------------------------------------
    function onLoad() {
        window.addEventListener('resize', onWindowResize, false);

	    buildGUI();
	    initScene(scenes[ state.scene ]);
	    animate();

	}

	function onDocumentKeyDown( event ) {
	}

    function onDocumentKeyUp(event) {
    }
    function is_mesh_device(intersect_key) {
        if (intersect_key.indexOf("_d-smartswitch") != -1) {
            return true;
        } else if (intersect_key.indexOf("d-smartplug") != -1) {
            return true;
        }else if (intersect_key.indexOf("thermalcam") != -1) {
            return true;
        } else if (intersect_key.indexOf("cctv") != -1) {
            return true;
        } else if (intersect_key.indexOf("_d-vav") > -1 || intersect_key.indexOf("_d-pau") > -1 || intersect_key.indexOf("_d-ahu") > -1) {
            return true;
        } else if (intersect_key.indexOf("_d-power") > -1) {
            return true;
        } else if (intersect_key.indexOf("_o-person") > -1) {
            return true;
        } else if (intersect_key.indexOf("_d-curtain") > -1) {
            return true;
        } else if (intersect_key.indexOf("_d-cec") > -1) {
            return true;
        }
        return false;
    }

    function is_parent_mesh_device(object) {
        var intersect_key = object.parent.name;
        if (intersect_key.indexOf("_d-smartswitch") != -1) {
            return true;
        } else if (intersect_key.indexOf("d-smartplug") != -1) {
            return true;
        } else if (intersect_key.indexOf("thermalcam") != -1) {
            return true;
        } else if (intersect_key.indexOf("cctv") != -1) {
            return true;
        } else if (intersect_key.indexOf("_d-vav") > -1) {
            return true;
        }else if (intersect_key.indexOf("_d-power") > -1) {
            return true;
        }
        return false;
    }

    function onDocumentMouseClick(event) {
        // create a Ray with origin at the mouse position
        // and direction into the scene (camera direction)
        //var vector = new THREE.Vector3( mouse.x, mouse.y, 1 );
        //projector.unprojectVector( vector, camera );
        //var ray = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );

        //// create an array containing all objects in the scene with which the ray intersects
        //var intersects = ray.intersectObjects(scene.children);

        event.preventDefault();
        mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
        mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;
        //if (event.clientX != clientClickX || event.clientY != clientClickY)
        //    return;
        raycaster.setFromCamera(mouse, camera);
        var intersects = raycaster.intersectObjects(intersectScene, true);

        switch (event.button) {
            case 0: // left
                if (param.Menu == "CustomerExperienceCenter") {
					if (intersects.length > 0) {
						var obj = intersects[0].object;
						if (obj.name.indexOf("_d-cec") > -1 || obj.name.indexOf("_o-person") > -1) {
							INTERSECTED = null;
						}
					}
                }
                if (param.Menu == "Power") {
                    if (intersects.length > 0) {
                        var obj = intersects[0].object;
                        if (obj.name.indexOf("_d-power") > -1) {
                            console.log(obj);
                            PowerSpecificZoneMesh();
                            var INTERSECTED_LEFTCLICK = intersects[0].object;
                            INTERSECTED_LEFTCLICK.material.color.setHex(color_global.yellow);
                        }
                    }
                }
                if (param.Menu == "SmartLight") {
                    if (intersects.length > 0) {
                        var obj = intersects[0].object;
                        if (obj.name.indexOf("_d-smartswitch") > -1) {
                            console.log(obj);
                            SmartlightSpecificZoneMesh();
                            var INTERSECTED_LEFTCLICK = intersects[0].object;
                            INTERSECTED_LEFTCLICK.material.color.setHex(color_global.yellow);
                        }
                    }
                }
                break;
            //case 1: // middle
            //    break;
            case 2: // right
                if (param.Menu == "AirCond") {
                    INTERSECTED = null;
                    resetPauBox();
                    resetAhuBox();
                    resetVavBox_Zone();
                    return;
                } else if (param.Menu == "SmartPlug") {// || param.Menu == "SmartLight") {
                    if (intersects.length > 0) {
                        var obj = intersects[0].object;
                        console.log(obj);
                        if (obj.name.indexOf("f03z") > -1 || obj.name.indexOf("f07z") > -1) {
                            onRightClickSmartPlug(obj.name);
                        } else if (obj.name.indexOf("_d-smartplug") > -1 || obj.name.indexOf("_d-smartswitch") > -1) {
                            setWidgetRealtime();
                            setWidgetAnalytic();
                            INTERSECTED = null;
                        }
                    }
                    return;
                } else if (param.Menu == "SmartLight") {
                    if (intersects.length > 0) {
                        var obj = intersects[0].object;
                        console.log(obj);
                        if (obj.name.indexOf("_d-smartswitch") > -1) {
                            setWidgetRealtime();
                            setWidgetAnalytic();
                            INTERSECTED = null;
                        }
                    }
                    return;
                } else if (param.Menu == "CustomerExperienceCenter") {
                    if (intersects.length > 0) {
                        var obj = intersects[0].object;
                        console.log(obj);
                        if (obj.name.indexOf("f03z") > -1 || obj.name.indexOf("f07z") > -1) {
                            onRightClickSmartPlug(obj.name);
                        } else if (obj.name.indexOf("_d-smartplug") > -1 || obj.name.indexOf("_d-smartswitch") > -1) {
                            setWidgetRealtime();
                            setWidgetAnalytic();
                            INTERSECTED = null;
                        }
                    }
                    return;
                }
                break;
        }

        // INTERSECTED = the object in the scene currently closest to the camera
        //      and intersected by the Ray projected from the mouse position

        // if there is one (or more) intersections
        if ( intersects.length > 0 )
        {
            // if the closest object intersected is not the currently stored intersection object
            if ( intersects[ 0 ].object != INTERSECTED && is_mesh_device(intersects[0].object.name))
            {
                // restore previous intersection object (if it exists) to its original color
                if (INTERSECTED) {
					if (INTERSECTED.name.indexOf("d-cec") > -1){
					}else{
						INTERSECTED.material.color.setHex(INTERSECTED.currentHex);
                    }
				}
                // store reference to closest object as current intersection object
                INTERSECTED = intersects[0].object;
                // store color of closest object (for later restoration)
                INTERSECTED.currentHex = INTERSECTED.material.color.getHex();
                // set a new color for closest object
                if (INTERSECTED.name.indexOf("d-smartplug") > -1)
                    INTERSECTED.material.color.setHex(color_global.blue30);
                else
                    INTERSECTED.material.color.setHex(color_global.yellow);
                var intersect_key = INTERSECTED.name;
                //if (INTERSECTED.name.indexOf("d-power") > -1)
                //    INTERSECTED.material.color.setHex(color_global.yellow);
                //else
                //    INTERSECTED.material.color.setHex(color_global.yellow);
				//console.log(intersect_key);
                setPanel(intersect_key);
            }

            if (intersects[0].object.name.indexOf("f03z") > -1 || intersects[0].object.name.indexOf("f07z") > -1) {
                onClickZone(intersects[ 0 ].object.name);
            }
        }
        else // there are no intersections
        {
            // restore previous intersection object (if it exists) to its original color
            if (INTERSECTED) {
                if (INTERSECTED.name.indexOf('_d-cec') > -1) {
                }else{
					INTERSECTED.material.color.setHex(INTERSECTED.currentHex);
				}
				if (INTERSECTED.name.indexOf('_d-vav')) {
                    //resetVavBox_Zone();
                }
                if (INTERSECTED.name.indexOf('_d-smartplug') && param.Menu == "SmartPlug") {
                    //setWidgetRealtime();
                    //setWidgetAnalytic();
                }
            }
            // remove previous intersection object reference
            //     by setting current intersection object to "nothing"
            INTERSECTED = null;
        }
    }

    function ondblclick(event) {
        event.preventDefault();
        mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
        mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;
        //if (event.clientX != clientClickX || event.clientY != clientClickY)
        //    return;

        raycaster.setFromCamera(mouse, camera);
        var intersects = raycaster.intersectObjects(intersectScene, true);
        if ( intersects.length > 0 )
        {
            var obj = intersects[0].object;
            if (obj.name.indexOf("f03z") > -1 || obj.name.indexOf("f07z") > -1 || obj.name.indexOf("f07_d-") > -1) {
                onDoubleClickZone(obj.name);
            }
            onMeshdblClick(obj.name);
        }
    }

    // var data smartlight status on/of
    var statusSmartlightDevicesByZone = [{}];
    // --------------------------------

    function onDocumentMouseMove(event) {
        if (param.Menu == "Sensor" || param.Menu == "AirCond" || param.Menu == "Power" || param.Menu == "CustomerExperienceCenter" || param.Menu == "SmartLight") {

            var latestMouseProjection;

            mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
            mouse.y = -(event.clientY / window.innerHeight) * 2 + 1;

            // find intersections

            // create a Ray with origin at the mouse position
            //   and direction into the scene (camera direction)
            raycaster.setFromCamera(mouse, camera);
            var intersects = raycaster.intersectObjects(intersectScene, true);
            var obj = "";
            if (intersects.length > 0) {
                obj = intersects[0].object;
            }
            if (intersects.length > 0) {

                if (param.Menu == "SmartLight") {
                    var objX = intersects[0].object;
                    if (objX.name.indexOf("f07z") > -1) {

                        // value zone
                        var statusZoneLight = "";
                        if (objX.name == "f07z01") { statusZoneLight = statusSmartlightDevicesByZone.zone1; }
                        if (objX.name == "f07z02") { statusZoneLight = statusSmartlightDevicesByZone.zone2; }
                        if (objX.name == "f07z03") { statusZoneLight = statusSmartlightDevicesByZone.zone3; }
                        if (objX.name == "f07z04") { statusZoneLight = statusSmartlightDevicesByZone.zone4; }
                        if (objX.name == "f07z05") { statusZoneLight = statusSmartlightDevicesByZone.zone5; }
                        if (objX.name == "f07z06") { statusZoneLight = statusSmartlightDevicesByZone.zone6; }
                        if (objX.name == "f07z07") { statusZoneLight = statusSmartlightDevicesByZone.zone7; }
                        if (objX.name == "f07z08") { statusZoneLight = statusSmartlightDevicesByZone.zone8; }
                        if (objX.name == "f07z09") { statusZoneLight = statusSmartlightDevicesByZone.zone9; }
                        if (objX.name == "f07z08") { statusZoneLight = statusSmartlightDevicesByZone.zone10; }
                        if (objX.name == "f07z10") { statusZoneLight = statusSmartlightDevicesByZone.zone10; }
                        if (objX.name == "f07z11") { statusZoneLight = statusSmartlightDevicesByZone.zone11; }
                        if (objX.name == "f07z12") { statusZoneLight = statusSmartlightDevicesByZone.zone12; }
                        //console.log(objX.name);
                        var divElement = $("#tooltip-label");
                        divElement.css({
                            display: "block"
                        });

                        var canvasHalfWidth = renderer.domElement.offsetWidth / 2;
                        var canvasHalfHeight = renderer.domElement.offsetHeight / 2;

                        mouse.x = (mouse.x * canvasHalfWidth) + canvasHalfWidth + renderer.domElement.offsetLeft;
                        mouse.y = -(mouse.y * canvasHalfHeight) + canvasHalfHeight + renderer.domElement.offsetTop;

                        var tootipWidth = divElement[0].offsetWidth;
                        var tootipHeight = divElement[0].offsetHeight;

                        divElement.css({
                            left: `${mouse.x - tootipWidth / 2}px`,
                            top: `${mouse.y - tootipHeight - 5}px`
                        }).html(objX.name.toUpperCase() + " " + statusZoneLight);
                        setPanelHover(objX.name, divElement);
                    } else {
                        $("#tooltip-label").hide();
                    }
                }

                // if the closest object intersected is not the currently stored intersection object
                if (intersects[0].object.material.length > 1)
                    return;
                if (intersects[0].object != INTERSECTED_HOVER) {
                    // restore previous intersection object (if it exists) to its original color
                    if (INTERSECTED_HOVER)
                        INTERSECTED_HOVER.material.color.setHex(INTERSECTED_HOVER.currentHex);
                    // store reference to closest object as current intersection object
                    INTERSECTED_HOVER = intersects[0].object;
                    // store color of closest object (for later restoration)
                    INTERSECTED_HOVER.currentOpacity = INTERSECTED_HOVER.material.opacity;
                    INTERSECTED_HOVER.currentHex = INTERSECTED_HOVER.material.color.getHex();
                    // set a new color for closest object
                    //INTERSECTED_HOVER.material.color.setHex(color_global.yellow);    
                }

                if (obj.name.indexOf("_d-cec") > -1 || obj.name.indexOf("_d-smartplug") > -1) {
                    var intersect_key_hover = INTERSECTED_HOVER.name;
                    var divElement = $("#tooltip-label");
                    divElement.css({
                        display: "block"
                    });

                    var canvasHalfWidth = renderer.domElement.offsetWidth / 2;
                    var canvasHalfHeight = renderer.domElement.offsetHeight / 2;

                    mouse.x = (mouse.x * canvasHalfWidth) + canvasHalfWidth + renderer.domElement.offsetLeft;
                    mouse.y = -(mouse.y * canvasHalfHeight) + canvasHalfHeight + renderer.domElement.offsetTop;

                    var tootipWidth = divElement[0].offsetWidth;
                    var tootipHeight = divElement[0].offsetHeight;

                    divElement.css({
                        left: `${mouse.x - tootipWidth / 2}px`,
                        top: `${mouse.y - tootipHeight - 5}px`
                    });
                    setPanelHover(intersect_key_hover, divElement);
                }

            } else // there are no intersections
            {
				// restore previous intersection object (if it exists) to its original color
                if (INTERSECTED_HOVER) {
                    INTERSECTED_HOVER.material.color.setHex(INTERSECTED_HOVER.currentHex);
                    if (INTERSECTED_HOVER.name.indexOf('_d-vav')) {
						//resetVavBox_Zone();
					}
                    if (INTERSECTED_HOVER.name.indexOf('_d-smartplug') && param.Menu == "SmartPlug") {
						setWidgetRealtime();
						setWidgetAnalytic();
                    }
				}
				// remove previous intersection object reference
				//     by setting current intersection object to "nothing"
                INTERSECTED_HOVER = null;
			}
        }
    }
	function onDoubleClick(event) {
	}

    function degInRad(deg) {
        return deg * Math.PI / 180;
    }
	//--------------------------------------------------
	function addLight(...pos) {
		const color = 0xFFFFFF;
		const intensity = 3;
		const light = new THREE.DirectionalLight(color, intensity);
		light.position.set(...pos);
		scene.add(light);
	}

	function onWindowResize() {
		//camera.aspect = window.innerWidth / window.innerHeight;
		camera.aspect = container.offsetWidth / container.offsetHeight;
		camera.updateProjectionMatrix();
		renderer.setSize( window.innerWidth, window.innerHeight );
	}

	function render() {
		renderer.render( scene, camera );
	}

	function animate() {
		//camera.lookAt(scene.position);

		requestAnimationFrame(animate);
		if (mixer) mixer.update(clock.getDelta());
		//orbitControls.autoRotate = true;
		orbitControls.update();
        render();

		state.cameraPosition = camera.position.x.toFixed(2) + " , " + camera.position.y.toFixed(2) + " , " + camera.position.z.toFixed(2);
		state.orbitControls = orbitControls.target.x.toFixed(2) + " , " + orbitControls.target.y.toFixed(2) + " , " + orbitControls.target.z.toFixed(2);
        gui.updateDisplay();
	}

	function getEnvMap() {
		var path = '@ctexture';
		//var path = 'textures/cube/Park2/';
		var format = '.jpg';
		var urls = [
			path + 'posx' + format, path + 'negx' + format,
			path + 'posy' + format, path + 'negy' + format,
			path + 'posz' + format, path + 'negz' + format
		];

		envMap = new THREE.CubeTextureLoader().load( urls );
		envMap.format = THREE.RGBFormat;

		return envMap;
	}

	function buildGUI() {
        gui = new dat.GUI({ width: 330 });	// 330
        gui.domElement.parentElement.style.zIndex = 101;
		gui.domElement.parentElement.style.left = "101px";
		gui.domElement.parentElement.style.right = "unset";

		//var sceneCtrl = gui.add( state, 'scene', Object.keys( scenes ) );
		//sceneCtrl.onChange( reload );

		//var animCtrl = gui.add( state, 'playAnimation' );
		//animCtrl.onChange( toggleAnimations );

		gui.add(state, 'cameraPosition');
		gui.add(state, 'orbitControls');
        var obj = {
            apply: function () {
                var voData = {
                    name: current_camera_control,
                    camera: state.cameraPosition,
                    orbitControls: state.orbitControls,
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetCameraControl", "Home")',
                    dataType: 'json',
                    data: JSON.stringify(voData),
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {

                    }
                });
            }
        };
        gui.add(obj,'apply');
		updateGUI();
	}

	function updateGUI() {
		if (extensionControls) extensionControls.remove();
		var sceneInfo = scenes[state.scene];

		if (sceneInfo.extensions.indexOf(state.extension) === - 1 ) {
			state.extension = sceneInfo.extensions[0];
		}

		//extensionControls = gui.add( state, 'extension', sceneInfo.extensions );
		//extensionControls.onChange( reload );
	}

	function toggleAnimations() {
		for ( var i = 0; i < gltf.animations.length; i ++ ) {
			var clip = gltf.animations[ i ];
			var action = mixer.existingAction( clip );

			state.playAnimation ? action.play() : action.stop();
		}
	}

	function reload() {
		if (container && renderer) {
			container.removeChild(renderer.domElement);
		}

		if (loader && mixer) mixer.stopAllAction();

		updateGUI();
		initScene(scenes[state.scene]);
	}

    function generate_button() {
        //generate floor
        var floor_coor_obj = { floor: "floor1", coordinate: new THREE.Vector3(0, 1.57, 0) };
        if (floor_coor.find(f => f.floor == "floor1") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor2", coordinate: new THREE.Vector3(0, 6.8, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor2") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor3", coordinate: new THREE.Vector3(0, 10.9, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor3") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor4", coordinate: new THREE.Vector3(0, 15.05, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor4") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor5", coordinate: new THREE.Vector3(0, 19.05, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor5") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor6", coordinate: new THREE.Vector3(0, 23.15, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor6") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor7", coordinate: new THREE.Vector3(0, 27.28, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor7") == undefined)
            floor_coor.push(floor_coor_obj);

        var floor_coor_obj = { floor: "floor8", coordinate: new THREE.Vector3(0, 31.39, 0) }; floor_coor.push(floor_coor_obj);
        if (floor_coor.find(f => f.floor == "floor8") == undefined)
            floor_coor.push(floor_coor_obj);

		$.each(liftname, function(idx, val){
			var button = "<div style='display:inline-block; margin: 0 10px;'><p>" + val + "</p>" + "<select name='"+val+"' data-lift='" + val + "' class='button-floor'>";
			for(i=1; i<=8; i++){
				var selected = i == 6 ? 'selected' : '';
				button += "<option value='floor" + i + "' " + selected + ">Floor " + i + "</option>";
			}
			button += "</select>";
			$("#button-lift").append(button)
		})
    }

	function initScene(sceneInfo) {
        //loadFont();
        if (container == null) {
            container = document.createElement('div');
            container.setAttribute("id", "DigTwin");
            document.body.appendChild(container);
        }
		//------------------------------
		scene = new THREE.Scene();

		/*var reflectionCube = new THREE.CubeTextureLoader()
		.setPath( '@Url.Content("~/Content/assets/images/")' )
		.load( [ 'background1.png', 'background2.png','background3.png', 'background4.png','background5.png', 'background6.png' ] );
		//reflectionCube.format = THREE.RGBFormat;
		scene.background = reflectionCube;*/

		camera = new THREE.PerspectiveCamera( 50, container.offsetWidth / container.offsetHeight, 1, 1000 );
		scene.add( camera );



		if ( sceneInfo.addLights ) {
			//var ambient = new THREE.AmbientLight( 0x222222 );
			//scene.add( ambient );

			//var directionalLight = new THREE.DirectionalLight( 0xdddddd, 4 );
			//directionalLight.position.set( 0, 0, 1 ).normalize();
			//scene.add( directionalLight );

			//var spot1;
			//spot1 = new THREE.SpotLight( 0xffffff, 1 );
			//spot1.position.set( 10, 20, 10 );
			//spot1.angle = 0.25;
			//spot1.penumbra = 0.75;

			addLight(-1, 2, 4);
			addLight( 1, -1, -2);

			if ( sceneInfo.shadows ) {
				spot1.castShadow = true;
				spot1.shadow.bias = 0.0001;
				spot1.shadow.mapSize.width = 2048;
				spot1.shadow.mapSize.height = 2048;
			}

			//scene.add( spot1 );
		}

		renderer = new THREE.WebGLRenderer( { antialias: true,alpha: false,transparent:false } );
		renderer.setPixelRatio( window.devicePixelRatio );
		renderer.setSize( window.innerWidth, window.innerHeight );
		//renderer.setClearColor( 0x000000, 1);
		//renderer.gammaInput = true;
		renderer.gammaOutput = true;
		renderer.physicallyCorrectLights = true;
		//renderer.sortObjects = false;

		if ( sceneInfo.shadows ) {
			renderer.shadowMap.enabled = true;
			renderer.shadowMap.type = THREE.PCFSoftShadowMap;
		}

		container.appendChild( renderer.domElement );

		//orbitControls = new THREE.OrbitControls(camera);
		orbitControls = new THREE.OrbitControls( camera, renderer.domElement );
		orbitControls.coupleCenters = true;
		orbitControls.maxPolarAngle = Math.PI * 0.5; // radians
		//orbitControls.enableZoom = false;
		orbitControls.zoomSpeed = 0.5;
		orbitControls.rotateSpeed = 0.5;
		orbitControls.enableDamping = true;
		orbitControls.dampingFactor = 0.3;
		//orbitControls.target.set( 0, 0, -10);
		//orbitControls.update();
        orbitControls.addEventListener('change', function() {
            onCameraChange();
        });

		if ( sceneInfo.addGround ) {
			var groundMaterial = new THREE.MeshPhongMaterial( { color: 0xFFFFFF } );
			var ground = new THREE.Mesh( new THREE.PlaneBufferGeometry( 512, 512 ), groundMaterial );
			ground.receiveShadow = !! sceneInfo.shadows;

			if ( sceneInfo.groundPos ) {
				ground.position.copy( sceneInfo.groundPos );
			} else {
				ground.position.z = - 70;
			}

			ground.rotation.x = - Math.PI / 2;
			scene.add( ground );
		}

		loader = new THREE.GLTFLoader();
		THREE.DRACOLoader.setDecoderPath( './content/assets/digitaltwin/js/libs/draco/gltf/' );
		loader.setDRACOLoader( new THREE.DRACOLoader() );

		var url = sceneInfo.url.replace( /%s/g, state.extension );
		if ( state.extension === 'glTF-Binary' ) {
			url = url.replace( '.gltf', '.glb' );
		}

		var loadStartTime = performance.now();
        $(".overlay-sidebarmenu").attr("style", "z-index: 1");
        loader.load(url, function (data) {
            gltf = data;
            default_zone_material = undefined;
			var object = gltf.scene;
			console.info( 'Load time: ' + ( performance.now() - loadStartTime ).toFixed( 2 ) + ' ms.' );
            intersectScene = scene.children;
			if ( sceneInfo.cameraPos ) {
				camera.position.copy( sceneInfo.cameraPos );
			}

			if ( sceneInfo.center ) {
				orbitControls.target.copy( sceneInfo.center );
			}

			if ( sceneInfo.objectPosition ) {
				object.position.copy( sceneInfo.objectPosition );

				if ( spot1 ) {
					spot1.position.set( sceneInfo.objectPosition.x - 100, sceneInfo.objectPosition.y + 200, sceneInfo.objectPosition.z - 100 );
					spot1.target.position.copy( sceneInfo.objectPosition );
				}
			}

			if ( sceneInfo.objectRotation ) {
				object.rotation.copy( sceneInfo.objectRotation );
			}

			if ( sceneInfo.objectScale ) {
				object.scale.copy( sceneInfo.objectScale );
			}

			if ( sceneInfo.addEnvMap ) {
				if ( ! envMap ) envMap = getEnvMap();

				object.traverse( function( node ) {
					if ( node.material && ( node.material.isMeshStandardMaterial ||
						 ( node.material.isShaderMaterial && node.material.envMap !== undefined ) ) ) {
						node.material.envMap = envMap;
						node.material.needsUpdate = true;
					}
				} );

				scene.background = envMap;
			}

			object.traverse( function ( node ) {
				if ( node.isMesh || node.isLight ) node.castShadow = true;

                if (node.isMesh) {
                    if (state.scene == 'Building' || state.scene == "Floor7_BuildingSmartLight") {
                        var material = new THREE.MeshStandardMaterial();
                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.1;
                        //node.material.color.setHex('0Xffffff');

                        if (node.name.indexOf('o-') != -1) {
                            node.material.opacity = 0.6;
                        }

                        if (node.name == 'stairs') {
                            node.material.opacity = 0.05;
                        }

                        if (node.name.indexOf('logo_') != -1) {
                            if (node.name == 'logo_hitachi_front') {
                                node.material.transparent = false;
                                node.material.opacity = 1;
                                node.material.color.setHex('0Xffffff');
                            }
                            hitachilogo.push(node);
                        }

                        if ((node.name == 'f03_r-ahu') || (node.name == 'f07_r-ahu') || (node.name == 'f99_r-pau')) {
                            aircon_room.push(node);
                        }

                        if (node.name.indexOf('f03z') > -1 || node.name.indexOf('f07z') > -1) {
                            node.material.opacity = 0;
                            sensor_zone.push(node);
                        }

                        if (node.name.indexOf('d-lift') != -1) {
                            //00a2ff = blue
                            //f18b40 =
                            //ff9800 = orange
                            //ffff6d = yellow
                            //40f186 = green
                            //cc0000 = red
                            node.material.opacity = 0.5;
                            node.material.color.setHex('0X00a2ff');	//home & elevator: 0X00a2ff; else 0Xffffff
                            //node.material.color.setHex('0X40f1a6');

                            lift.push(node);
                            liftobject[node.name] = node;
                            liftname.push(node.name);

                        }

                        if (node.name.indexOf('wall') != -1) {
                            if ((node.name == 'f03_wall') || (node.name == 'f07_wall')) {
                                node.material.opacity = 0.3;
                                node.material.color.setHex('0X40f1a6');
                                aircon_floor.push(node);
                            }
                            floor.push(node);
                        }
                        setTimeout(function () {
                            if (node.name.indexOf('o-chair') > -1 || node.name.indexOf("o-table") > -1 || node.name.indexOf("o-desk") > -1) {
                                node.material.visible = true;
                                node.material.transparent = true;
                                node.material.opacity = 0.1;
                                node.material.color.setHex(color_global.white);
                            }
                        }, 100);

                        setPropertiesObjectDevice(node);
                        setPropertiesObjectPerson(node);

                        all_object.push(node);

                        //node.material.envMap = envMap;
                        //node.material.copy(node.material);
                    } else if (state.scene == 'Floor3') {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.8;
                        node.material.color.setHex('0X40f1a6');

                        setPropertiesObjectPerson(node);
                        setPropertiesObjectDevice(node);
                    } else if (state.scene == 'Floor7') {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.5;
                        //node.material.color.setHex('0X40f1a6');

                        setPropertiesObjectPerson(node);
                        setPropertiesObjectDevice(node);
                    } else if (state.scene == 'Floor3_Floor7') {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.1;
                        //node.material.color.setHex('0X40f1a6');

                        if (node.name.startsWith("logo_hitachi"))
                            node.material.opacity = 1;

                        setPropertiesObjectPerson(node);
                        setPropertiesObjectDevice(node);
                    } else if (state.scene == "Floor3_RoomPartnership") {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.5;
                        if (node.name.indexOf("chair") > -1 || node.name.indexOf("table") > -1) {
                            node.material.transparent = false;
                            node.material.opacity = 1;
                        }
                        setPropertiesObjectDevice(node);
                    } else if (state.scene == "Floor7_RoomRnd") {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        //node.material.depthTest = false;
                        //node.material.depthWrite = false;
                        //node.material.transparent = true;
                        //node.material.opacity = 0.5;

                        if (node.name.indexOf("employee") > -1 || node.name.indexOf("f07_wallfloor") > -1) {
                            node.material.opacity = 0.5;
                            node.material.transparent = true;
                            node.material.color.setHex(color_global.white);
                        }
                    } else if (state.scene == "Floor3_RoomCustomerExperienceCenter") {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.5;
                        if (node.name.indexOf("chair") > -1 || node.name.indexOf("table") > -1 || node.name.indexOf("_d-cec-smartswitch") > -1) {
                            node.material.transparent = false;
                            node.material.opacity = 1;
                        }

                        if (node.name.indexOf("_d-curtain") > -1) {
                            node.material.transparent = true;
                            node.material.opacity = 0.5;
                        }

                        if (node.name.indexOf("_o-person") > -1) {
                            node.material.visible = false;
                        }

                        setPropertiesObjectDevice(node);
                    } else if (state.scene == "Floor7_RoomZ11" || state.scene == "Floor7_RoomZ13") {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;

                        if (node.name.indexOf("_wallfloor") > -1) {
                            node.material.opacity = 0.5;
                            node.material.transparent = true;
                            node.material.color.setHex(color_global.white);
                        }
                        setPropertiesObjectDevice(node);
                    } else if (state.scene == "Floor7_RoomSmartLightZ10") {
                        var material = new THREE.MeshStandardMaterial();
                        material = material.copy(node.material);

                        node.material = material;
                        node.material.depthTest = false;
                        node.material.depthWrite = false;
                        node.material.transparent = true;
                        node.material.opacity = 0.5;
                        if (node.name.indexOf("chair") > -1 || node.name.indexOf("desk") > -1 || node.name.indexOf("table") > -1 || node.name.indexOf("d_smartlight") > -1) {
                            node.material.transparent = false;
                            node.material.opacity = 1;
                        }
                        setPropertiesObjectDevice(node);
                    }
                } else if (node.isGroup) {
					if (state.scene == 'Building') {
                        if (node.name.startsWith('f03_d-')) {
                            setTimeout(function () {
                                setPropertiesObjectGroupDevice(node);
                            }, 300);
						}
					}

				}
                if (node.name.indexOf('f03z') > -1 || node.name.indexOf('f07z') > -1 || node.name.indexOf('zll') > -1) {
					if(default_zone_material == undefined)
						default_zone_material = [];

					var newMaterial = new THREE.MeshStandardMaterial();
                    newMaterial = newMaterial.copy(node.material);
                    default_zone_material.push({ name: node.name, material: newMaterial, geometry: node.geometry });
				}
			} );

			var animations = gltf.animations;

			if ( animations && animations.length ) {
				mixer = new THREE.AnimationMixer( object );

				for ( var i = 0; i < animations.length; i ++ ) {
					var animation = animations[ i ];
					// There's .3333 seconds junk at the tail of the Monster animation that
					// keeps it from looping cleanly. Clip it at 3 seconds
					if ( sceneInfo.animationTime ) {
						animation.duration = sceneInfo.animationTime;
					}

					var action = mixer.clipAction( animation );

					if ( state.playAnimation ) action.play();
				}

			}

			generate_button();
			scene.add( object );
			onWindowResize();

            if (window.caller_function != undefined) {
                console.log(window.caller_function);
                eval(window.caller_function);
                window.caller_function = undefined;
            } else {
                home_building();
                window.caller_function = undefined;
            }
            $(".overlay-sidebarmenu").removeAttr("style");
            setElevatorLastPosition();
		}, undefined, function ( error ) {
			console.error( error );
		} );

		//setTimeout(function(){
		//	console.log(scene, "THE SCENE");
		//}, 10000);

		//var axisHelper = new THREE.AxisHelper(50);
		//scene.add(axisHelper);
		//------------------------------

		raycaster = new THREE.Raycaster();

		@*container.appendChild(renderer.domElement);

		//background
		var textures = getTexturesFromFile('@bg_cube', 6 );
		var materials = [];
		for ( var i = 0; i < 6; i ++ ) {
			materials.push( new THREE.MeshBasicMaterial( { map: textures[ i ] } ) );
		}
		bgCube = new THREE.Mesh( new THREE.BoxBufferGeometry(400, 200, 400), materials );
		bgCube.geometry.scale( 1, 1, - 1 );
		bgCube.transparent = true;
		bgCube.material.opacity = 0;
		bgCube.position.y = 100;
		scene.add( bgCube );

		window.addEventListener( 'resize', onWindowResize, false );
		document.addEventListener('mouseup', onDocumentMouseClick, true);
		document.addEventListener( 'keydown', onDocumentKeyDown, false );
		document.addEventListener('keyup', onDocumentKeyUp, false);
		document.addEventListener("dblclick", onDoubleClick);*@
        document.addEventListener('mousemove', onDocumentMouseMove, false);
		document.addEventListener('mouseup', onDocumentMouseClick, true);
		renderer.domElement.addEventListener("dblclick", ondblclick, false)
    }

    onLoad();
	dat.GUI.toggleHide();

	//gui.closed = true;

	/*
	var latestMouseProjection;
	var hoveredObj; // this objects is hovered at the moment

	// This will move tooltip to the current mouse position and show it by timer.
	function showTooltip() {
		var divElement = $("#tooltip");
		if (divElement && latestMouseProjection) {
			divElement.css({
				display: "block",
				opacity: 0.0
			});

			var canvasHalfWidth = renderer.domElement.offsetWidth / 2;
			var canvasHalfHeight = renderer.domElement.offsetHeight / 2;

			var tooltipPosition = latestMouseProjection.clone().project(camera);
			tooltipPosition.x = (tooltipPosition.x * canvasHalfWidth) + canvasHalfWidth + renderer.domElement.offsetLeft;
			tooltipPosition.y = -(tooltipPosition.y * canvasHalfHeight) + canvasHalfHeight + renderer.domElement.offsetTop;

			var tootipWidth = divElement[0].offsetWidth;
			var tootipHeight = divElement[0].offsetHeight;

			divElement.css({
				left: `${tooltipPosition.x - tootipWidth/2}px`,
				top: `${tooltipPosition.y - tootipHeight - 5}px`
			});

			// var position = new THREE.Vector3();
			// var quaternion = new THREE.Quaternion();
			// var scale = new THREE.Vector3();
			// hoveredObj.matrix.decompose(position, quaternion, scale);
			divElement.text(hoveredObj.name.replace("3F_ITEM", ""));

			//console.log(hoveredObj.material);

			setTimeout(function() {
				divElement.css({
					opacity: 1.0
				});
			}, 25);
		}
	}

	// This will immediately hide tooltip.
	function hideTooltip() {
		var divElement = $("#tooltip");
		if (divElement) {
			divElement.css({
				display: "none"
			});
		}
	}

	function updateMouseCoords(event, coordsObj) {
		coordsObj.x = ((event.clientX - renderer.domElement.offsetLeft ) / window.innerWidth) * 2 - 1;
		coordsObj.y = -((event.clientY - renderer.domElement.offsetTop) / window.innerHeight) * 2 + 1;

		mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
		mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;

		raycaster.setFromCamera(mouse, camera);
		var intersects = raycaster.intersectObjects(object_grid);
		if (intersects.length > 0) {
			var intersect = intersects[0];

			var vectorScale = new THREE.Vector3(intersect.point.x, intersect.point.y +0.4 , intersect.point.z);
			//rollOverMesh.position.copy(vectorScale);
			//.add(intersect.face.normal);
			//rollOverMesh.position.divideScalar( 0.5 ).floor().multiplyScalar( 0.5 ).addScalar( 0.25 );
		}
	}

	function onMouseMove(event) {
		if(event.target.tagName == "CANVAS"){
			controls.enabled = true;
		} else {
			controls.enabled = false;
		}

		updateMouseCoords(event, mouse);

		latestMouseProjection = undefined;
		hoveredObj = undefined;
		hideTooltip();
		//handleManipulationUpdate();
	}
	//--------------------------------------------------
	//randomPowerText();
	//window.addEventListener('mousemove', onMouseMove, false);
	*/

    function getTexturesFromFile(ImgUrl, tilesNum) {
        var textures = [];
        for (var i = 0; i < tilesNum; i++) {
            textures[i] = new THREE.Texture();
        }
        var imageObj = new Image();
        imageObj.onload = function () {
            var canvas, context;
            var tileWidth = imageObj.height;
            for (var i = 0; i < textures.length; i++) {
                canvas = document.createElement('canvas');
                context = canvas.getContext('2d');
                canvas.height = tileWidth;
                canvas.width = tileWidth;
                context.drawImage(imageObj, tileWidth * i, 0, tileWidth, tileWidth, 0, 0, tileWidth, tileWidth);
                textures[i].image = canvas;
                textures[i].needsUpdate = true;
            }
        };
        imageObj.src = ImgUrl;
        return textures;
    }

	function loadFont() {
		var loader = new THREE.FontLoader();
		loader.load('@font_digtwin', function (response) {
			font = response;
			group = new THREE.Group();
			group.position.y = 100;
			scene.add( group );
		} );
	}

	function createText(text, textName) {
		var height = 1;
		var size = 1;
		textGeo = new THREE.TextGeometry( text, {
			font: font,
			size: size,
			height: height,
			curveSegments: 2,
			bevelThickness: bevelThickness,
			bevelSize: 2,
			bevelEnabled: bevelEnabled
		} );

		materials = [
			new THREE.MeshPhongMaterial( { color: 0xffffff, flatShading: true } )
		];

		//get position from room
		var room;
		$.each(power_room, function (idx, val) {
			if (val.name == textName.replace("text", "")) {
				room = val;
			}
		});

		textGeo = new THREE.BufferGeometry().fromGeometry( textGeo );
		textMesh[textName] = new THREE.Mesh( textGeo, materials );
		textMesh[textName].position.x = room.position.x;
		textMesh[textName].position.y = room.position.y-97;
		textMesh[textName].position.z = room.position.z;
		textMesh[textName].rotation.x = room.rotation.x;
		textMesh[textName].material.transparent = false;
		//textMesh[textName].rotation.z = room.rotation.z;

		textMesh[textName].rotation.y = 1.75;
		group.add( textMesh[textName] );
	}

	function refreshText(text, textName) {
		group.remove(textMesh[textName]);
		createText(text, textName);
	}

    function randomPowerText() {
        setInterval(function () {
            $.each(power_room, function (idx,val) {
                if (val.visible == true) {
                    var number_rndom = Math.floor(Math.random() * Math.floor((idx + 1) * 10));
                    refreshText(number_rndom.toString(), 'text' + val.name);
                } else {
                    //group.remove(textMesh['text' + val.name]);
                }
            })
        }, 1000)
    }
    function setPropertiesObjectGroupDevice(obj) {
	  obj.children.forEach((child)=>{
          setPropertiesObjectGroupDevice(child);
	  });
        if (obj.material) {
            setPropertiesObjectDevice(obj);
	  }
    }
    function setPropertiesObjectDevice(node) {
        if (node.name.indexOf('_d-') > -1 || node.parent.name.indexOf('_d-') > -1) {
            if (node.name.indexOf('_d-vav') > -1) {
                node.material.color.setHex(color_global.darkgrey);
            }
            node.material.opacity = 0.03;
            node.material.transparent = true;
        }
    }
    function setPropertiesObjectPerson(node) {
        if (node.name.indexOf('_o-') > -1) {
            node.material.visible = false;
            node.material.opacity = 1;
            //node.material.color.setHex('0xffff6d');
        }
    }
    function toScreenPosition(obj, camera)
    {
        var vector = new THREE.Vector3();

        // TODO: need to update this when resize window
        var widthHalf = 0.5*renderer.context.canvas.width;
        var heightHalf = 0.5*renderer.context.canvas.height;

        obj.updateMatrixWorld();
        vector.setFromMatrixPosition(obj.matrixWorld);
        vector.project(camera);

        vector.x = (( vector.x * widthHalf ) + widthHalf) -100;
        vector.y = (- ( vector.y * heightHalf ) + heightHalf) - 100;

        return {
            x: vector.x,
            y: vector.y
        };


    }
</script>