﻿<div class="overlay-sidebarmenu"></div>
<div class="button-close" data-status='open'>
    <i class="fa fa-chevron-left"></i>
</div>
<div class="logo-marker" onclick="topMenuClick()">
    <i class="fa fa-bullseye"></i>
</div>
<ul class="sidebar-menu">
    <li class="active">
        <a id="menu_home" href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_Home',this);">
            <img src="@Url.Content("~/Content/assets/images/icons/menu-home.png")"  width="25px" height="25px" />
            <div class="tooltip-menu">Home</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id='power_menu' onclick="param.Location = '001000000'; loadView('Menu_Power',this);">
            <i class='fa fa-bolt'></i>
            <div class="tooltip-menu">Power</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" id="air_con" onclick="param.Location = '001000000'; loadView('Menu_AirCond',this);">
            <i class='fa fa-wind'></i>
            <div class="tooltip-menu">Air-con</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_SmartLight',this);">
            <i class='fa fa-lightbulb'></i>
            <div class="tooltip-menu">Smart Light</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_SmartPlug',this);">
            <i class='fa fa-plug'></i>
            <div class="tooltip-menu">Smart Plug</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_Elevator',this);">
            <i class='fa fa-door-open'></i>
            <div class="tooltip-menu">Elevator</div>
        </a>
    </li>
    <li>
        <a id="Menu_Sensor" href="javascript:void(0);" onclick="param.Location = '001003001'; loadView('Menu_Sensor',this);">
            <img src="@Url.Content("~/Content/assets/images/icons/menu-sensor.png")" width="25px" height="25px" />
            <div class="tooltip-menu">Sensor</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_Camera',this);">
            <img src="@Url.Content("~/Content/assets/images/icons/menu-camera.png")" width="25px" height="25px" />
            <div class="tooltip-menu">Camera</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_HumanPresence',this);">
            <i class='fa fa-users'></i>
            <div class="tooltip-menu">Human Presence</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001000000'; loadView('Menu_FeedbackAnalytic',this);">
            <i class='fa fa-chart-bar'></i>
            <div class="tooltip-menu">Feedback Analytic</div>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);" onclick="param.Location = '001003001'; loadView('Menu_CustomerExperienceCenter',this);">
            <img src="@Url.Content("~/Content/assets/images/icons/cec01.png")" />
            <div class="tooltip-menu">CEC</div>
        </a>
    </li>
    @*<li>
            <a href="javascript:void(0);" id="custom_setting_switch">
                <i class='fa fa-wrench'></i>
                <div class="tooltip-menu">Custom Setting</div>
            </a>
        </li>*@

    <li class='bottom-nav'>
        <a href="javascript:void(0);" onclick="toggleDatGui()">
            <i class='fa fa-cog'></i>
            <div class="tooltip-menu">General Setting</div>
        </a>
    </li>
</ul>