﻿<div class="widget-nav-location">
    <div class='widget'>

        <div class="widget-close-bottom" id="widget-location" data-status='open'>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="widget-header trapezoid" role="tab" id="headingLocation">
            Location
        </div>
        <div class="widget-content bottom">
            <ul id="myUL"></ul>
        </div>
    </div>
</div>

<!-- Location JS -->
<script type="text/x-kendo-template" id="tmpl-widgetlocation">
    # for (var i = 0; i < data.length; i++) { #
    <li id="locationid-#= data[i].LocationID #" data-loc-type="#= data[i].LocationType #">
        <a class='nav-loc'>
            <i class="fa fa-chevron-right nav-loc-icon cursor-pointer" onclick="loadChild('#= data[i].LocationID #', this);"></i>
            <span id="span_location_#= data[i].LocationID #" class="nav-loc-text cursor-pointer" data-camera-position="#= data[i].CameraPosition #" data-control-target="#= data[i].ControlTarget #" data-object-name="#= data[i].ObjectName #" onclick="loadView('Location_#= data[i].LocationID #',this)">#= data[i].LocationName #</span>
        </a>
        <ul class="nested"></ul>
    </li>
    # } #
</script>
<script type="text/javascript">
    let locationNav = [];
    let smartDevices = [];
    let powerMesh = [];
    let voDataVAV = [];
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        loadLocationNav();
        getSmartDevices();
        getPowerMesh();
        getVAV();
    });
    function loadLocationNav() {
        $.ajax({
            url: '@Url.Action("GetLocation", "Home")',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $("#myUL").html("Loading location...");
            },
            success: function (result) {
                locationNav = result;

                //$.each(result, function (idx, val) {
                //    if (val.ObjectName == 'building') {
                //        var cameraPosBuilding = val.CameraPosition.split(",");
                //        var controlPosBuilding = val.ControlTarget.split(",");
                //        camera.position.set(parseInt(cameraPosBuilding[0]), parseInt(cameraPosBuilding[1]), parseInt(cameraPosBuilding[2]));
                //        controls.target.set(parseInt(controlPosBuilding[0]), parseInt(controlPosBuilding[1]), parseInt(controlPosBuilding[2]));
                //        controls.update();
                //    }
                //})

                var locdata = result.filter(w => w.LocationType == "BUILDING");
                var template = kendo.template($("#tmpl-widgetlocation").html());
                var tmp_result = template(locdata); //Execute the template
                $("#myUL").html(tmp_result);
                //console.log(locationNav);
                $("#menu_home").trigger("click");
                loadChild('001000000', this);
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
    function loadChild(locid, e) {
        var loctype = $("#locationid-" + locid).attr("data-loc-type");
        var strStartWith = "";
        var loctype_nested = "";
        if (loctype == "BUILDING") {
            strStartWith = locid.substr(0, 3);
            loctype_nested = "FLOOR";
        } else if (loctype == "FLOOR") {
            strStartWith = locid.substr(0, 6);
            loctype_nested = "ROOM";
        } else if (loctype == "ROOM") {
            strStartWith = locid.substr(0, 9);
            loctype_nested = "ROOM";
        }

        if ($(e).hasClass("fa-chevron-right")) {
            $(e).removeClass("fa-chevron-right").addClass("fa-chevron-down");
        } else {
            $(e).addClass("fa-chevron-right").removeClass("fa-chevron-down");
        }
        $("#locationid-" + locid + " .nested").toggleClass("active");

        var li_length = $("#locationid-" + locid + " .nested li").length;
        if (li_length == 0) {
            var childloc = locationNav.filter(w => w.LocationID.startsWith(strStartWith) && w.LocationID != locid && w.LocationType == loctype_nested);
            var template = kendo.template($("#tmpl-widgetlocation").html());
            var result = template(childloc); //Execute the template
            $("#locationid-" + locid + " .nested").html(result);
        }
    }
    function getSmartDevices() {
        $.ajax({
            url: '@Url.Action("getSmartDevices", "Home")',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
            },
            success: function (result) {
                smartDevices = result;
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
    function getPowerMesh() {
        $.ajax({
            url: '@Url.Action("getPowerMesh", "Home")',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
            },
            success: function (result) {
                powerMesh = result;
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
    function getVAV() {
        $.ajax({
            url: '@Url.Action("getVAV", "Home")',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
            },
            success: function (result) {
                voDataVAV = result;
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
</script>