﻿
<div class="widget-analytic-wrapper">
    <div class='widget'>
        <div class="widget-close-bottom" id="widget-analytic" data-status='open'>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="widget-header trapezoid" role="tab" id="headingAnalytic">
            Analytics Dashboard
        </div>
        <div class="widget-content bottom widget-analytic" id="wrapper-widget-analytic"></div>
        <div class="widget-analytic-close-right">
            <a href="javascript:void(0)" onclick="toggleRightAnalytic()">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

    </div>
</div>
<div class="widget-alert-camera hide">
    <div class='widget'>
        <div class="widget-close-bottom" id="widget-alert-camera" data-status='open'>
            <i class="fa fa-chevron-down"></i>
        </div>
        <div class="widget-header trapezoid" role="tab" id="headingLocation">
            View Alerts
        </div>
        <div class="widget-content bottom" id="widgetBottomAlert">
            <table class="table-app">
                @for (int i = 1; i <= 17; i++)
                {
    <tr>
        <td>
            <p>@(i)</p>
        </td>
        <td>
            <p>Camera#</p>
        </td>
        <td>
            <p>Location</p>
        </td>
        <td>
            <p>Time</p>
        </td>
        <td>
            <p>
                <i class="fa fa-download"></i>
            </p>
        </td>
    </tr>}
            </table>
        </div>
    </div>
</div>
<!--Template defintion and nothing else in the file-->
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticHome">
    <div class="row content-simcard">
        <div class="kpi-col">
            <div class="counting-analytic">
                <div class="trapezoid-simcard"></div>
                <div class="quat-cross-left"></div>
                <div class="quat-cross-top"></div>

                <div class="title-text text-green">Energy Saving <br /> per year</div>
                <div class="number">20%</div>
            </div>
        </div>
        <div class='dailypower-col'>
            <span class="chart-title text-green">Daily Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='eei-col'>
            <span class="chart-title text-green">Energy Use Intensity</span>
            <div id="chart2"></div>
        </div>
        <div class='energycons-col'>
            <span class="chart-title text-green">Energy Consumption Distribution</span>
            <div id="pie-energyconsumption" style="width: 100%;height: 150px"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticPower">
    <div class="row content-simcard">
        <div class='col-lg-4'>
            <span class="chart-title text-green">Daily Energy Consumption (avg)</span>
            <div id="chart1"></div>
        </div>
        <div class='col-lg-1 text-left' style="padding-top: 20px;">
            <div style="font-size: 8px; margin-left: 0px;">
                <span style="cursor: pointer;" onclick="loadChartStack('Flowrate');" id="power-charts-flowrate" filter-data="true"><input id="power-checkbox-flowrate" type="checkbox" class="chbk-chart" checked>Flowrate</span> </br>
                <span style="cursor: pointer;" onclick="loadChartStack('Aircond');" id="power-charts-aircond" filter-data="true"><input id="power-checkbox-aircond" type="checkbox" class="chbk-chart" checked>Aircon</span> </br>
                <span style="cursor: pointer;" onclick="loadChartStack('Lighting');" id="power-charts-lighting" filter-data="true"><input id="power-checkbox-lighting" type="checkbox" class="chbk-chart" checked>Lighting</span> </br>
                <span style="cursor: pointer;" onclick="loadChartStack('PowerPlug');" id="power-charts-powerplug" filter-data="true"><input id="power-checkbox-powerplug" type="checkbox" class="chbk-chart" checked>PowerPlug</span></br>
                <span style="cursor: pointer;" onclick="loadChartStack('Elevator');" id="power-charts-elevator" filter-data="true"><input id="power-checkbox-elevator" type="checkbox" class="chbk-chart" checked>Elevator</span>
            </div>
        </div>
        <div class='col-lg-4'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div class="row">
                <div class="col-sm-6">
                    <div style="font-size: 8px; margin-left: 21px;">
                        @*<span style="cursor: pointer; color:rgba(64, 241, 166, 0.8);" onclick="loadChartData('lm');" id="power-chart-lm" filter-data="false">LM</span> |
                            <span style="cursor: pointer;" onclick="loadChartData('cm');" id="power-chart-cm" filter-data="true">CM</span>*@
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <div style="font-size: 8px; margin-left: 0px;">
                        <span style="cursor: pointer;" onclick="loadChartData('3f');" id="power-chart-3f" filter-data="true"><input id="power-checkboxs-3f" type="checkbox" class="chbk-chart" checked>3F</span> |
                        <span style="cursor: pointer;" onclick="loadChartData('7f');" id="power-chart-7f" filter-data="true"><input id="power-checkboxs-7f" type="checkbox" class="chbk-chart" checked>7F</span> |
                        <span style="cursor: pointer;" onclick="loadChartData('elevator');" id="power-chart-elevator" filter-data="true"><input id="power-checkboxs-elevator" type="checkbox" class="chbk-chart" checked>Elevator</span>
                    </div>
                </div>
            </div>
            <div id="chart2"></div>
        </div>
        <div class='col-lg-3'>
            <span class="chart-title text-green">Energy Consumption Distribution</span>
            <div id="pie-energyconsumption" style="width: 100%;height: 150px"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticAirCond">
    <div class="row content-simcard">
        <div class="monthly-energy-col">
            <span class="chart-title text-green">Monthly Energy Saving</span>
            <svg viewBox="0 0 36 36" class="circular-chart orange">
                <path class="circle-bg"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="circle"
                      stroke-dasharray="10, 100"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <text x="20" y="21" class="percentage">10%</text>
            </svg>
        </div>
        <div class='monthly-consumpt-col'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="dualchart-monthlyconsumption"></div>
        </div>
        <div class='daytime-cooling-col'>
            <span class="chart-title text-green">Daytime Cooling Load</span>
            <div id="dualchart-daytimeavgcoolingload"></div>
        </div>

    </div>
</script>

<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticDeviceAHU301">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Energy Consumption (Weekday)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Cooling Load (Weekday)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticDeviceAHU701">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Energy Consumption (Weekday)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Cooling Load (Weekday)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticDeviceAHU702">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Energy Consumption (Weekday)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Cooling Load (Weekday)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticDevicePAUR01">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Energy Consumption (Weekday)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Cooling Load (Weekday)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticDevicePAUR02">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Energy Consumption (Weekday)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Cooling Load (Weekday)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticDeviceVAV">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Energy Consumption (Weekday)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Cooling Load (Weekday)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticSmartLight">
    <div class="row content-simcard">
        <div class="elevator-monthly-energy-saving-col">
            <span class="chart-title text-green">Monthly Energy Saving</span>
            <svg viewBox="0 0 36 36" class="circular-chart orange">
                <path class="circle-bg"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="circle"
                      stroke-dasharray="7, 100"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <text x="20" y="21" class="percentage">20%</text>
            </svg>
        </div>
        <div class='elevator-number-service-lift-col'>
            <span class="chart-title text-green">Daily energy consumption Avg</span>
            <div id="dualchart-smartlightdailyconsumeavg"></div>
            <div id="dualchart-smartlightdailyconsumeavg-zone"></div>
        </div>
        <div class='elevator-monthly-energy-consumpt-col'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="dualchart-smartlightmonthlyconsumption"></div>
            <div id="dualchart-smartlightmonthlyconsumption-zone"></div>
        </div>
        <div class='elevator-total-lift-travel-distance-col'>
            <span class="chart-title text-green" id="titlechart-smartlight">Top 5 energy consumption</span>
            <div id="dualchart-smartlighttop5"></div>
            <div id="dualchart-smartlightbenchmarking"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticSmartPlug">
    <div id="chartSmartplugUsage" class="row content-simcard">
        <div id="energy-saving" class="kpi-col">
            <span class="chart-title text-green" style="font-size: 9px;">Monthly Energy Saving</span>
            <svg viewBox="0 0 36 36" class="circular-chart orange">
                <path class="circle-bg"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="circle"
                      stroke-dasharray="10, 100"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <text x="20" y="21" class="percentage">20%</text>
            </svg>
        </div>
        <div class='weeklyPowerPlug-col'>
            <span class="chart-title text-green">Weekly Energy Consumption</span>
            <div id="chart1"></div>
        </div>
        <div class='OffPowerplug-col'>
            <span id="title-plug-chart" class="chart-title text-green">of SmartPlug Switched Off</span>
            <div id="chart2"></div>
        </div>
        <div class='ZonePowerplug-col'>
            <span id="title-top-five" class="chart-title text-green">Top 5 Energy Consuming Zone</span>
            <div id="chart3"></div>
        </div>
    </div>
    <div id="chartSmartplugLevel" class="row content-simcard" style="display:none;">
        <div class='col-md-4'>
            <span class="chart-title text-green range-of-usage">Range of usage</span>
            <div id="chart-1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green weekday-energy-consumption">Weekday Energy Consumption (Avg)</span>
            <div id="chart-2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">&nbsp;</span>
            <div id="chart-3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticElevator">
    <div class="row content-simcard">
        <div class="elevator-monthly-energy-saving-col">
            <span class="chart-title text-green">Monthly Energy Saving</span>
            <svg viewBox="0 0 36 36" class="circular-chart orange">
                <path class="circle-bg"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <path class="circle"
                      stroke-dasharray="7, 100"
                      d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831" />
                <text x="20" y="21" class="percentage">7%</text>
            </svg>
        </div>
        <div class='elevator-monthly-energy-consumpt-col'>
            <span class="chart-title text-green">Monthly Energy Consumption</span>
            <div id="dualchart-elevatormonthlyenergycosumpt"></div>
        </div>
        <div class='elevator-number-service-lift-col'>
            <span class="chart-title text-green">\\# Of Service Lift</span>
            <div id="dualchart-elevatornumberservicelift"></div>
        </div>
        <div class='elevator-total-lift-travel-distance-col'>
            <span class="chart-title text-green">Total Lift Travel Distance</span>
            <div id="dualchart-elevatortotallifttraveldistance"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticSensor">
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticCamera">
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticHumanPresence">
    <div class="row content-simcard">
        <div class='col-md-4'>
            <span class="chart-title text-green">Hourly Occupant Number (Avg)</span>
            <div id="chart1"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Daily Occupant Number (Avg)</span>
            <div id="chart2"></div>
        </div>
        <div class='col-md-4'>
            <span class="chart-title text-green">Monthly Occupant Number (Avg)</span>
            <div id="chart3"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticFeedbackAnalytic">
    <div class="row content-simcard">
        <div class='col-md-12'>
            <span class="chart-title text-green">Source of Discomfort</span>
            <div id="chartSOD"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetAnalyticCustomerExperienceCenter">

</script>
<script>

    //Variable to show Live Live Data
    var showLiveData = true;

    //Variable to show Live Live Data
    var windowSize = 12;

    function toggleLiveData(checkbox) {
        showLiveData = checkbox.checked;
    }

    function createChart(id, options) {
        $("#" + id).kendoChart(options);
    }
    $(document).ready(function () {

    });
    //$(document).ready(createChart);
</script>
<script type="text/javascript">
    function createHighchart(id, options) {
        Highcharts.chart(id, options);
    }
    function HigChartGeaugeUpdate(id, type, on, off) {
        var total = parseInt(on) + parseInt(off);
        var options = {
            chart: {
                plotBorderWidth: 0,
                plotShadow: false,
                style: {
                    fontFamily: 'Roboto-Regular',
                    color: "#fff"
                },
                backgroundColor: 'rgba(255, 255, 255, 0)',
            },
            colors: ['#298c62', '#800000'],
            credits: false,
            exporting: { enabled: false },
            title: {
                text: total + '<br>' + type,
                style: {
                    fontFamily: 'Roboto-Regular',
                    fontSize: "12px",
                    color: "#fff"
                },
                align: 'center',
                verticalAlign: 'middle',
                y: 15,
                x: -5
            },
            tooltip: {
                pointFormat: '<b>{point.percentage:.1f}% ({point.y})</b>'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true,
                        distance: '-32%',
                        format: '{point.y}',
                        style: {
                            fontWeight: 'bold',
                            color: 'white'
                        }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['30px', '22px'],
                    size: '100px'
                }
            },
            series: [{
                type: 'pie',
                name: type,
                innerSize: '50%',
                data: [
                    {
                        name: 'On',
                        y: on
                    },
                    {
                        name: 'Off',
                        y: off
                    }
                ]
            }]
        };
        if (type != "PAU") {
            options.series[0].data = [
                { name: 'On', y: on },
                { name: 'Off', y: off }
            ];
        }
        createHighchart(id, options);
    }
</script>