﻿<script type="text/x-kendo-template" id="tmpl-WidgetFloatingBack">
    <div id="back-button-room" class="box-floating-device">
        <a onclick="btnBack()" class="button-icon-back">
            <button class="btn-sm btn-default btn-has-green"><i class="fa fa-chevron-left"> BACK</i></button>
        </a>
    </div>
</script>
