﻿<script type="text/x-kendo-template" id="tmpl-smartlight_cctv">
    <div id="devicebox-Smartlight_cctv" class="box-floating-device">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" onclick="removeBox('Sensor')">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/icon_close2x.png")" />
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>CCTV</span>
        </div>
        <div class="row box-floating-device-body">
            # data_window_popup = data #
            # for (var i = 0; i < data.length; i++) { #
            # if(data[i].UrlRtsp == "" && data[i].DeviceID == "THERMAL01"){ #
            <!--<div class="cctv-content">
                <div class="cctv-content-decoration" onclick="openWindow('ThermalCamera', #= i #);"></div>
                <div class="cctv-content-status-live">
                    <p class="status-text">LIVE</p>
                    <i class="status-icon"></i>
                </div>
                <div class="cctv-content-enlarge-icon" onclick="openWindow('ThermalCamera', #= i #);">
                    <i class="fa fa-expand"></i>
                </div>
                <iframe class="resp-iframe" src="#= data[i].UrlService #cctv/#= data[i].DeviceID #?w=187&h=102"></iframe>
            </div>-->
            # }else{ #
            # if(data[i].DeviceID == "DahuaC2"){ #
            <div class="cctv-content">
                <div class="cctv-content-decoration" onclick="openWindow('Camera', #= i #);"></div>
                <div class="cctv-content-status-live">
                    <p class="status-text">LIVE</p>
                    <i class="status-icon"></i>
                </div>
                <div class="cctv-content-enlarge-icon" onclick="openWindow('Camera', #= i #);">
                    <i class="fa fa-expand"></i>
                </div>
                <img class="live-stream-#= data[i].DeviceID #" src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")">
            </div>
            # } #
            # } #
            # } #
        </div>
    </div>
</script>
