﻿<script type="text/x-kendo-template" id="tmpl-WidgetLegendSmartlight">
    <div id="devicebox-SmartLightLegend" class="box-floating-device">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" class="legend-toggle-box">
                <i class="fa fa-chevron-down"></i>
            </a>
			<a href="javascript:void(0)" class="home-toggle-zone" onclick="homeToggleZone()">
                <i class="fa fa-grip-horizontal"></i>
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Legend</span>
        </div>
        <div class="row box-floating-device-body">
            <p class="temperature-legend">LUX</p>
            <ul class="legend-color-list">
                <li class="legend-red"></li>
                <li class="legend-yellow"></li>
                <li class="legend-green"></li>
                <li class="legend-blue"></li>
            </ul>
            <ul class="legend-list">
                <li>above 1000</li>
                <li>501-1000</li>
                <li>301-500</li>
                <li><= 300</li>
            </ul>
        </div>
    </div>
</script>