﻿<script type="text/x-kendo-template" id="tmpl-WidgetCEC">
    # for(var i = 0; i < data.length; i++){ #
    <div id="human-presence-counting-obj-modelling-#= data[i].LocationID #" class="box-human-presence-modelling hide">
        <p class="presence-counting-obj">0</p>
    </div>
    # } #
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetLegendCEC">
    <div id="devicebox-LegendCEC" class="box-floating-device">
        <div class="close-ahu-box">
            <a href="javascript:void(0)" class="legend-toggle-box" onclick="toggleBox('LegendCEC')">
                <i class="fa fa-chevron-down"></i>
            </a>
            <a href="javascript:void(0)" class="home-toggle-zone" onclick="homeToggleZone()">
                <i class="fa fa-grip-horizontal"></i>
            </a>
        </div>
        <div class="box-floating-device-header">
            <span>Legend</span>
        </div>
        <div class="row box-floating-device-body">
            <p class="temperature-legend">Occupant Level</p>
            <ul class="legend-color-list">
                <li class="legend-red"></li>
                <li class="legend-yellow"></li>
                <li class="legend-green"></li>
                <li class="legend-blue"></li>
            </ul>
            <ul class="legend-list">
                <li>15 above</li>
                <li>11-14</li>
                <li>6-10</li>
                <li>0-5</li>
            </ul>
        </div>
    </div>
</script>