<script type="text/x-kendo-template" id="tmpl-WidgetFloatingButtonContactTracing">
    <div id="devicebox-button-contact-tracing" class="box-floating-device">
        <a onclick="btnContactTracingIcon(this)" class="button-icon-contact-tracing">
			<img src="@Url.Content("~/Content/assets/images/contact-tracing-dim.png")"/>
		</a>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetFloatingButtonContactTracingCEC">
    <div id="devicebox-button-contact-tracing-cec" class="box-floating-device">
        <a onclick="btnContactTracingIconCec(this)" class="button-icon-contact-tracing">
			<img src="@Url.Content("~/Content/assets/images/contact-tracing-dim.png")"/>
		</a>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-WidgetFloatingButtonContactTracingCECCCTV">
    <div id="devicebox-button-contact-tracing-cec-cctv" class="box-floating-device">
        <a onclick="btnContactTracingIconCecCCTV(this)" class="button-icon-contact-tracing-cec-cctv">
			<img src="@Url.Content("~/Content/assets/images/icons/menu-camera.png")"/>
		</a>
    </div>
</script>

