﻿@(Html.Kendo().Window()
    .Name("windowPopup")
    .Title("")
    .Draggable(true)
    //.Events(e => e.Open("kwEventOpen"))
    .Height(400)
    .Visible(false)
    .Width(500)
    .Content(@<text>
            <div id="windowPopupBody"></div>
    </text>)
)
@(Html.Kendo().Window()
    .Name("windowPopupPresentValue")
    .Title("")
    .Draggable(true)
    //.Events(e => e.Open("kwEventOpen"))
    .Modal(true)
    .Visible(false)
    .Content(@<text>
            <div class="window-present-value-body" id="window-present-value-body">
                <input type="hidden" id="device-id-present-value" />
                <input type="hidden" class="input-present-value" id="object-present-value" />
                <input type="hidden" class="input-present-value" id="unit-present-value" />
                <input type="hidden" class="input-present-value" id="cat-present-value" />
                <div class="form-group">
                    <label class="label-present-value">Present Value</label>
                    <input type="text" class="input-present-value has-input" id="input-present-value" />
                </div>
            </div>
            <div class="window-present-value-footer">
                <button class="btn btn-green" type="button" onclick="savePresentValue(this)">Apply</button>
                <button class="btn btn-red" type="button" onclick="closeWindow(this)">Cancel</button>
            </div>
    </text>)
)
<script type="text/x-kendo-template" id="tmpl-windowPopupCameraRealtime">
    # window.camera_data_temp = data #
    <div class="cctv-player">
        <div class="cctv-player-stream">
            <div class="cctv-content-decoration"></div>
            <div class="cctv-content-status-live">
                <p class="status-text">LIVE</p>
                <i class="status-icon"></i>
            </div>
            <div class="wrapper-stream">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="live-stream-#= data.DeviceID #">
            </div>
        </div>
        <div class="cctv-player-menu">
            <a href="javascript:void(0)" class="close-streaming-popup" onclick="closeStreaming()">
                <i class="far fa-window-close"></i>
            </a>
            <div class="cctv-player-menu-list">
                <a href="javascript:void(0)" class="active">
                    [ Real-Time ]
                </a>
                <a href="javascript:void(0)" onclick="popupCameraPlayback(window.camera_data_temp)">
                    [ Playback ]
                </a>
            </div>

            <div id="poeple-conting" class="content-simcard cctv-player-counting">
                <div class="item-simcard">
                    <div class="trapezoid-simcard"></div>
                    <div class="quat-cross-left"></div>
                    <div class="quat-cross-top"></div>

                    <div class="title-text text-green">People</div>
                    <div class="number">0</div>
                    <div class="subtext">Count</div>
                </div>
            </div>
			@*
            <ul class="cctv-player-alert">
                # for(var i = 1; i < 6; i++){ #
                <li>
                    INDOOR TEMPERATURE ( ) 25.5 &\\#8451;
                </li>
                # } #
            </ul>*@
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupCameraPlayback">
    # window.camera_data_temp = data #
    <div class="cctv-player">
        <div class="cctv-player-stream">
            <div class="cctv-content-decoration"></div>
            <div class="cctv-content-status-playback">
                <p class="status-text">Playback</p>
                <i class="fa fa-play"></i>
            </div>
            <div class="wrapper-stream">
                <img src="@Url.Content("~/Content/assets/digitaltwin/img/cctv.png")" class="live-stream-#= data.DeviceID #">
            </div>
        </div>
        <div class="cctv-player-menu">
            <a href="javascript:void(0)" class="close-streaming-popup" onclick="closeStreaming()">
                <i class="far fa-window-close"></i>
            </a>
            <div class="cctv-player-menu-list">
                <a href="javascript:void(0)" onclick="popupCameraRealtime(window.camera_data_temp)">
                    [ Real-Time ]
                </a>
                <a href="javascript:void(0)" class="active">
                    [ Playback ]
                </a>
            </div>
            <div id="camera-playback-calendar" class="has-calendar"></div>
            <div class="camera-playback-timepicker">
                <p class="title-timepicker">From</p>
                <input id="playback-timepicker-from" value="10:00 AM" title="From" class="has-timepicker" />
                <p class="title-timepicker">To</p>
                <input id="playback-timepicker-to" value="10:00 AM" title="To" class="has-timepicker" />
            </div>
        </div>
    </div>
    <div class="cctv-player-stream-control">
        <div class="wrapper-cctv-player-stream-control">
            <div class="cctv-control-progressbar">
                <div class="cctv-control-currentprogress"></div>
            </div>
            <div class="cctv-control-controller">
                <a href="javascript:void(0)"><i class="fa fa-step-backward"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-pause"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-step-forward"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-volume-up"></i></a>
            </div>
        </div>
        <div class="cctv-player-menu">
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="tmpl-windowPopupThermalCameraRealtime">
    # window.camera_data_temp = data #
    <div class="cctv-player">
        <div class="cctv-player-stream">
            <div class="cctv-content-decoration"></div>
            <div class="cctv-content-status-live">
                <p class="status-text">LIVE</p>
                <i class="status-icon"></i>
            </div>
            <div class="wrapper-stream">
                <iframe class="resp-iframe" src="#= data.UrlService #cctv/#= data.DeviceID #?w=1169&h=516"></iframe>
            </div>
        </div>
        <div class="cctv-player-menu">
            <a href="javascript:void(0)" class="close-streaming-popup" onclick="closeStreaming()">
                <i class="far fa-window-close"></i>
            </a>
            <div class="cctv-player-menu-list">
                <a href="javascript:void(0)" class="active">
                    [ Real-Time ]
                </a>
                <a href="javascript:void(0)" onclick="popupThermalCameraPlayback(window.camera_data_temp)">
                    [ Playback ]
                </a>
            </div>

            <div id="poeple-conting" class="content-simcard cctv-player-counting">
                <div class="item-simcard">
                    <div class="trapezoid-simcard"></div>
                    <div class="quat-cross-left"></div>
                    <div class="quat-cross-top"></div>

                    <div class="title-text text-green">People</div>
                    <div class="number">0</div>
                    <div class="subtext">Count</div>
                </div>
            </div>
			@*
            <ul class="cctv-player-alert">
                # for(var i = 1; i < 6; i++){ #
                <li>
                    INDOOR TEMPERATURE ( ) 25.5 &\\#8451;
                </li>
                # } #
            </ul>*@
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupThermalCameraPlayback">
    # window.camera_data_temp = data #
    <div class="cctv-player">
        <div class="cctv-player-stream">
            <div class="cctv-content-decoration"></div>
            <div class="cctv-content-status-playback">
                <p class="status-text">Playback</p>
                <i class="fa fa-play"></i>
            </div>
            <div class="wrapper-stream">
                <iframe class="resp-iframe" src="#= data.UrlService #cctv/#= data.DeviceID #?w=1169&h=516"></iframe>
            </div>
        </div>
        <div class="cctv-player-menu">
            <a href="javascript:void(0)" class="close-streaming-popup" onclick="closeStreaming()">
                <i class="far fa-window-close"></i>
            </a>
            <div class="cctv-player-menu-list">
                <a href="javascript:void(0)" onclick="popupThermalCameraRealtime(window.camera_data_temp)">
                    [ Real-Time ]
                </a>
                <a href="javascript:void(0)" class="active">
                    [ Playback ]
                </a>
            </div>
            <div id="camera-playback-calendar" class="has-calendar"></div>
            <div class="camera-playback-timepicker">
                <p class="title-timepicker">From</p>
                <input id="playback-timepicker-from" value="10:00 AM" title="From" class="has-timepicker" />
                <p class="title-timepicker">To</p>
                <input id="playback-timepicker-to" value="10:00 AM" title="To" class="has-timepicker" />
            </div>
        </div>
    </div>
    <div class="cctv-player-stream-control">
        <div class="wrapper-cctv-player-stream-control">
            <div class="cctv-control-progressbar">
                <div class="cctv-control-currentprogress"></div>
            </div>
            <div class="cctv-control-controller">
                <a href="javascript:void(0)"><i class="fa fa-step-backward"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-pause"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-step-forward"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-volume-up"></i></a>
            </div>
        </div>
        <div class="cctv-player-menu">
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="tmpl-windowPopupThermalCameraIRRealtime">
    # window.camera_data_temp = data #
    <div class="cctv-player">
        <div class="cctv-player-stream">
            <div class="cctv-content-decoration"></div>
            <div class="cctv-content-status-live">
                <p class="status-text">LIVE</p>
                <i class="status-icon"></i>
            </div>
            <div class="wrapper-stream">
                <iframe class="resp-iframe" src="#= data.UrlService #ircam/#= data.DeviceID #?w=1169&h=516"></iframe>
            </div>
        </div>
        <div class="cctv-player-menu">
            <a href="javascript:void(0)" class="close-streaming-popup" onclick="closeStreaming()">
                <i class="far fa-window-close"></i>
            </a>
            <div class="cctv-player-menu-list">
                <a href="javascript:void(0)" class="active">
                    [ Real-Time ]
                </a>
                <a href="javascript:void(0)" onclick="popupThermalCameraIRPlayback(window.camera_data_temp)">
                    [ Playback ]
                </a>
            </div>

            <div id="poeple-conting" class="content-simcard cctv-player-counting">
                <div class="item-simcard">
                    <div class="trapezoid-simcard"></div>
                    <div class="quat-cross-left"></div>
                    <div class="quat-cross-top"></div>

                    <div class="title-text text-green">People</div>
                    <div class="number">0</div>
                    <div class="subtext">Count</div>
                </div>
            </div>
			@*
            <ul class="cctv-player-alert">
                # for(var i = 1; i < 6; i++){ #
                <li>
                    INDOOR TEMPERATURE ( ) 25.5 &\\#8451;
                </li>
                # } #
            </ul>*@
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupThermalCameraIRPlayback">
    # window.camera_data_temp = data #
    <div class="cctv-player">
        <div class="cctv-player-stream">
            <div class="cctv-content-decoration"></div>
            <div class="cctv-content-status-playback">
                <p class="status-text">Playback</p>
                <i class="fa fa-play"></i>
            </div>
            <div class="wrapper-stream">
                <iframe class="resp-iframe" src="#= data.UrlService #ircam/#= data.DeviceID #?w=1169&h=516"></iframe>
            </div>
        </div>
        <div class="cctv-player-menu">
            <a href="javascript:void(0)" class="close-streaming-popup" onclick="closeStreaming()">
                <i class="far fa-window-close"></i>
            </a>
            <div class="cctv-player-menu-list">
                <a href="javascript:void(0)" onclick="popupThermalCameraIRRealtime(window.camera_data_temp)">
                    [ Real-Time ]
                </a>
                <a href="javascript:void(0)" class="active">
                    [ Playback ]
                </a>
            </div>
            <div id="camera-playback-calendar" class="has-calendar"></div>
            <div class="camera-playback-timepicker">
                <p class="title-timepicker">From</p>
                <input id="playback-timepicker-from" value="10:00 AM" title="From" class="has-timepicker" />
                <p class="title-timepicker">To</p>
                <input id="playback-timepicker-to" value="10:00 AM" title="To" class="has-timepicker" />
            </div>
        </div>
    </div>
    <div class="cctv-player-stream-control">
        <div class="wrapper-cctv-player-stream-control">
            <div class="cctv-control-progressbar">
                <div class="cctv-control-currentprogress"></div>
            </div>
            <div class="cctv-control-controller">
                <a href="javascript:void(0)"><i class="fa fa-step-backward"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-pause"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-step-forward"></i></a>
                <a href="javascript:void(0)"><i class="fa fa-volume-up"></i></a>
            </div>
        </div>
        <div class="cctv-player-menu">
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupAHU">
    <div class="row">
        <div class="col-md-12 img-aircond-bg" style="background: url('@Url.Content("~/Content/assets/digitaltwin/img/ahu_crop_20190822.jpg")')">
            # for(var i = 0; i < data.data.length ;i++){ if(data.data[i].ObjectName.indexOf("Setpt") > -1 || data.data[i].ObjectName.indexOf("Temp") > -1) { data.data[i].PresentValue = parseFloat(data.data[i].PresentValue).toFixed(1); }  if(screen.width != 1536) { var offsetWidth = 1063 - (document.getElementById("windowPopup").offsetWidth) }else { var offsetWidth = 0;} ;  if(data.data[i].ObjectName.indexOf("Setpt") > -1) {#
            <div class="present-value" id="box-#= data.data[i].DeviceID #-#= data.data[i].InstanceID #-#=data.data[i].ObjectTypeID #" data-title="present-value-#= data.data[i].GroupVAV #-#= data.data[i].Title #" onclick="openWindowPresentValue(this)" style="position: absolute;top: #= data.data[i].Top #px;left:#= data.data[i].Left #px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit-button">#= data.data[i].Title #</span>
                #if(data.data[i].ObjectTypeName == ""){ #
                <span class="value-box">&nbsp;</span>
                #}else{#
                <span class="value-box">#= data.data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data.data[i].Unit #</span>
            </div>
            #}else if(data.data[i].ObjectName.indexOf("Flowrate") > -1){#
            <div class="present-value" id="box-#= data.data[i].ObjectName #" style="position: absolute;top: #= data.data[i].Top #px;left:#= data.data[i].Left #px; color: \\#fff; font-size: 7px;">
                <span class="presence-unit">#= data.data[i].Title #</span>
                #if(data.data[i].ObjectTypeName == ""){ #
                <span class="value-box">&nbsp;</span>
                #}else{#
                <span class="value-box">#= data.data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data.data[i].Unit #</span>
            </div>
            #}else{#
            <div class="present-value" id="box-#= data.data[i].DeviceID #-#= data.data[i].InstanceID #-#=data.data[i].ObjectTypeID #" style="position: absolute;top: #= data.data[i].Top #px;left:#= data.data[i].Left #px; color: \\#fff; font-size: 7px;">
                <span class="presence-unit">#= data.data[i].Title #</span>
                #if(data.data[i].ObjectTypeName == ""){ #
                <span class="value-box">&nbsp;</span>
                #}else{#
                <span class="value-box">#= data.data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data.data[i].Unit #</span>
            </div>
            # }} #
            <div class="present-value" id="box-8-0" style="position: absolute; top: 150px; left: 150px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">RETURN AIR</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 16px; left: 290px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">EXHAUST AIR</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 16px; left: 510px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">FRESH AIR FROM PAU</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 16px; left: 730px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">FRESH AIR FROM PAU</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 142px; left: 880px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">SUPPLY AIR</span>
            </div>
            <!--<div class="present-value" id="box-8-0" style="position: absolute; top: 358px;left: 490px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">OPENING</span>
            </div>-->
            <div class="present-value" id="box-8-0" style="position: absolute; top: 403px;left: 540px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">CHWS</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 403px;left: 600px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">CHWR</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 55px;left: 610px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">F/A Damper</span>
            </div>
            <div class="present-value" id="box-8-0" style="position: absolute; top: 55px;left: 837px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">F/A Damper</span>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupPAU">
    <div class="row">
        <div class="col-md-12 img-aircond-bg pau-popup" style="background: url('@Url.Content("~/Content/assets/digitaltwin/img/pau_crop_20190822.jpg")')">
            # for(var i = 0; i < data.data.length ;i++){ if(data.data[i].ObjectName.indexOf("Setpt") > -1 || data.data[i].ObjectName.indexOf("Temp") > -1) { data.data[i].PresentValue = parseFloat(data.data[i].PresentValue).toFixed(1); } if(data.data[i].ObjectTypeID == 0) {#
            <div class="present-value" id="box-#= data.data[i].DeviceID #-#= data.data[i].InstanceID #-#=data.data[i].ObjectTypeID #" style="position: absolute;top: #= data.data[i].Top #px;left: #= data.data[i].Left #px; color: \\#fff; font-size: 7px;">
                <span class="presence-unit">#= data.data[i].Title #</span>
                #if(data.data[i].ObjectTypeName == ""){ #
                <span class="value-box value-box-#=data.data[i].RecordStatus #">&nbsp;</span>
                #}else{#
                <span class="value-box value-box-#=data.data[i].RecordStatus #">#= data.data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data.data[i].Unit #</span>
            </div>
            #}else{#
            <div class="present-value" id="box-#= data.data[i].DeviceID #-#= data.data[i].InstanceID #-#=data.data[i].ObjectTypeID #" data-title="present-value-#= data.data[i].GroupVAV #-#= data.data[i].Title #" onclick="openWindowPresentValue(this)" style="position: absolute;top: #= data.data[i].Top #px;left: #= data.data[i].Left #px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit-button">#= data.data[i].Title #</span>
                # if(data.data[i].ObjectTypeName == ""){ #
                <span class="value-box value-box-#=data.data[i].RecordStatus #">&nbsp;</span>
                #}else{#
                <span class="value-box value-box-#=data.data[i].RecordStatus #">#= data.data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data.data[i].Unit #</span>
            </div>
            # }} #
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 7px; left: 665px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">NON-RETURN DAMPER</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 154px; left: 680px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">NON-RETURN DAMPER</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 192px;left: 853px;color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">EXHAUST FROM</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 210px; left: 97px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">exhaust air</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 248px; left: 924px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">supply air</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 144px; left: 263px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">VSD</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 327px;left: 726px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">VSD</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 363px;left: 668px;color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">OFF HEAT COIL</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 363px;left: 582px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">OFF COIL</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 413px; left: 490px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">CHWR</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 413px;left: 551px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">CHWS</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 93px; left: 455px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">BWE</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 365px;left: 282px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">BWS</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute; top: 110px; left: 347px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">AWE</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 365px;left: 382px;color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">AWS</span>
            </div>
            <div class="present-value" id="box-11-0-0" style="position: absolute;top: 363px;left: 483px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit">APC</span>
            </div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupVAV">
    <div class="row">
        <div class="col-md-12 img-aircond-bg" style="background: url('@Url.Content("~/Content/assets/digitaltwin/img/vav.jpg")')">
            # for(var i = 0; i < data.length ;i++){ if(data[i].ObjectName.indexOf("Setpoint") > -1 || data[i].ObjectName.indexOf("Setpt") > -1 || data[i].ObjectName.indexOf("temperature") > -1) { data[i].PresentValue = parseFloat(data[i].PresentValue).toFixed(1); } if(data[i].ObjectTypeID == 0) {#
            <div class="present-value" id="box-#= data[i].DeviceID #-#= data[i].InstanceID #-#=data[i].ObjectTypeID #" style="position: absolute;top: #= data[i].Top #px;left: #= data[i].Left #px; color: \\#fff; font-size: 7px;">
                <span class="presence-unit">#= data[i].Title #</span>
                #if(data[i].ObjectTypeName == ""){ #
                <span class="value-box">&nbsp;</span>
                #}else{#
                <span class="value-box">#= data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data[i].Unit #</span>
            </div>
            #}else{#
            <div class="present-value" id="box-#= data[i].DeviceID #-#= data[i].InstanceID #-#=data[i].ObjectTypeID #" data-title="present-value-#= data[i].GroupVAV #-#= data[i].Title #" onclick="openWindowPresentValue(this)" style="position: absolute;top: #= data[i].Top #px;left: #= data[i].Left #px; color: \\#fff; font-size: 7px; cursor: pointer;">
                <span class="presence-unit-button">#= data[i].Title #</span>
                #if(data[i].ObjectTypeName == ""){ #
                <span class="value-box">&nbsp;</span>
                #}else{#
                <span class="value-box">#= data[i].PresentValue #</span>
                # } #
                <span class="presence-unit">#= data[i].Unit #</span>
            </div>
            # }} #
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="tmpl-windowPopupElevatorCmd">
    <div class="wrapper-has-nav">
        <ul class="has-nav nav nav-tabs">
            <li class="nav-item active"><a class="nav-link" role="tab" data-toggle="tab" href="\\#cmdParking">Parking</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="\\#cmdPeakOperation">Peak</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="\\#cmdStandby">Standby</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="\\#elvScheduler">Scheduler</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active wrapper-has-nav-content row" id="cmdParking">
            <div class="wrapper-parking-currentstate w-100">
                <div>
                    <p class="text-center">
                        Current State
                    </p>
                </div>
                <div class="d-flex">
                    # for(var i = 1; i <= 4;i++){ #
                    <div class="w-25" id="cmdParkingCurrentStateWrapper-#= i #">
                        <div class="parking-current-state">
                            <p>P</p>
                        </div>
                    </div>
                    # } #
                </div>
            </div>
            <div class="w-100 mt-2">
                <div class="wrapper-parking-command-title">
                    <p class="mb-0 text-center">
                        Command
                    </p>
                </div>
                <div class="d-flex">
                    # for(var i = 1; i <= 4;i++){ #
                    <div class="w-25 elevator-wrapper-parking" id="cmdParkingWrapper-#= i #">

                        <div class="elevator-wrapper-parking-box">
                            <div class="wrapper-elevator-number">
                                <p class="mb-0">#= i #</p>
                            </div>
                            <div class="wrapper-icon-elevator">
                                <i class="fa fa-door-open"></i>
                            </div>
                            <div class="wrapper-icon-parking">
                                <div class="icon-parking"><p>P</p></div>
                                <input type="checkbox" id="cmdParkingCheckBox-#= i #" name="cmdParkingCheckBox" onclick="cmdParkingCheckboxClick(this)">
                            </div>
                        </div>
                    </div>
                    # } #
                </div>
            </div>

            <div class="wrapper-command-action">
                <div class="wrapper-command-action-scheduler">
                    <div class="form-group">
                        <label class="col-form-label">
                            Set Schedule
                        </label>
                        <div class="">
                            <input id="cmdParkingDateTime" class="" placeholder="Run On" />
                        </div>
                    </div>
                    <button class="btn btn-default" onclick="elvCmdSend(this);" data-cmd="scheduler">Save</button>
                    <button class="btn btn-default" onclick="elvCmdReset(this);" data-cmd="scheduler">Save as reset</button>
                </div>
                <div class="wrapper-command-action-immediately">
                    <div class="form-group mb-1 overflow">
                        <label class="col-form-label">
                            Set Immediately
                        </label>
                        <div class="mb-4">
                            &nbsp;
                        </div>
                    </div>
                    <button class="btn btn-default" onclick="elvCmdSend(this);" data-cmd="immediately">Send</button>
                    <button class="btn btn-default" onclick="elvCmdReset(this);" data-cmd="immediately">Reset</button>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane wrapper-has-nav-content row" id="cmdPeakOperation">
            <div class="col-md-12 d-flex">
                <div class="cmdPeakOperation-up-down-wrapper-current-state">
                    <div class="cmdPeakOperation-current-state">
                        <p>Current State: </p>
                    </div>
                    <div class="cmdPeakOperation-up-down-current-state">
                        <label class="cmdPeakOperation-label-up-current-state">
                            <p class="mb-1">Up</p>
                            <img src="#= img_elevator.up #" />
                        </label>
                        <label class="cmdPeakOperation-label-down-current-state">
                            <img src="#= img_elevator.down #" />
                            <p class="mb-0">Down</p>
                        </label>
                    </div>
                    <ul class="cmdPeakOperation-floor-list-current-state">
                        # for(var i = 1; i <= 8;i++){ #
                        <li class="cmdPeakOperation-floor-current-state #= (i == 3) ? " active" : "" #" value="#= i #">#= i #F</li>
                        # } #
                    </ul>
                </div>
                <div class="cmdPeakOperation-up-down-wrapper">
                    <div class="cmdPeakOperation-current-state">
                        <p>Command: </p>
                    </div>
                    <div class="cmdPeakOperation-up-down">
                        <label class="cmdPeakOperation-label-up cmdPeakOperation-label">
                            <p class="mb-1">Up</p>
                            <img class="" data-value="81" data-direction="up" src="#= img_elevator.up #" onclick="cmdPeakOperationClick(this)" />
                        </label>
                        <label class="cmdPeakOperation-label-down cmdPeakOperation-label">
                            <img class="" data-value="82" data-direction="down" src="#= img_elevator.down #" onclick="cmdPeakOperationClick(this)" />
                            <p class="mb-0">Down</p>
                        </label>
                    </div>
                    <ul class="cmdPeakOperation-floor-list" id="cmdPeakOperationFloor">
                        # for(var i = 1; i <= 8;i++){ #
                        <li onclick="cmdPeakOperationFloorClick(this)" class="cmdPeakOperation-floor" value="#= i #">#= i #F</li>
                        # } #
                    </ul>
                </div>

            </div>
            <div class="wrapper-command-action mt-2">
                <div class="wrapper-command-action-scheduler">
                    <div class="form-group">
                        <label class="col-form-label">
                            Set Schedule
                        </label>
                        <div class="">
                            <input id="cmdPeakOperationDateTime" class="" placeholder="Run On" />
                        </div>
                    </div>
                    <button class="btn btn-default" onclick="elvCmdSend(this);" data-cmd="scheduler">Save</button>
                    <button class="btn btn-default" onclick="elvCmdReset(this);" data-cmd="scheduler">Save as reset</button>
                </div>
                <div class="wrapper-command-action-immediately">
                    <div class="form-group mb-1 overflow">
                        <label class="col-form-label">
                            Set Immediately
                        </label>
                        <div class="mb-4">
                            &nbsp;
                        </div>
                    </div>
                    <button class="btn btn-default" onclick="elvCmdSend(this);" data-cmd="immediately">Send</button>
                    <button class="btn btn-default" onclick="elvCmdReset(this);" data-cmd="immediately">Reset</button>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane wrapper-has-nav-content row" id="cmdStandby">
            <div class="w-100">
                <div class="wrapper-standby-command-title">
                    <p class="mb-0">Current State</p>
                </div>
                <div class="w-100 d-flex">
                    # for(var x = 1; x <= 3;x++){ #
                    <div class="cmdStandby-current-state-wrapper" id="cmdStandbyCurrentState-#= x #">
                        <p class="cmdStandby-current-state-floor-wrapper">
                            <i class="fa fa-grip-vertical"></i>
                            <span class="cmdStandby-current-state-floor">-</span>
                        </p>
                        <p class="cmdStandby-current-state-elevator-wrapper">
                            <i class="fa fa-door-open"></i>
                            <span class="cmdStandby-current-state-elevator">-</span>
                        </p>
                    </div>
                    # } #
                </div>
            </div>
            <div class="w-100">
                <div class="wrapper-standby-command-title">
                    <p class="mb-0">Command</p>
                </div>
                <div class="d-flex w-100">
                    # for(var x = 1; x <= 3;x++){ #
                    <div class="cmdStandby-floor-wrapper" id="cmdStandby-#= x #">
                        <ul class="cmdStandby-floor-list">
                            # for(var i = 1; i <= 8;i++){ #
                            <li onclick="cmdStandbyFloorClick(this)" class="cmdStandby-floor" value="#= i #">#= i #F</li>
                            # } #
                        </ul>
                        <div class="input-group input-group-sm cmdStandby-elevator-wrapper">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">
                                    <i class="fa fa-door-open"></i>
                                </span>
                            </div>
                            <input id="cmdStandbyElevator-#= x #" type="text" class="form-control cmdStandbyElevator-txt" onkeyup="cmdStandbyElevatorKeyUp(this)">
                        </div>
                    </div>
                    # } #
                </div>
            </div>
            <div class="wrapper-command-action mt-2">
                <div class="wrapper-command-action-scheduler">
                    <div class="form-group">
                        <label class="col-form-label">
                            Set Schedule
                        </label>
                        <div class="">
                            <input id="cmdStandbyDateTime" class="" placeholder="Run On" />
                        </div>
                    </div>
                    <button class="btn btn-default" onclick="elvCmdSend(this);" data-cmd="scheduler">Save</button>
                    <button class="btn btn-default" onclick="elvCmdReset(this);" data-cmd="scheduler">Save as reset</button>
                </div>
                <div class="wrapper-command-action-immediately">
                    <div class="form-group mb-1 overflow">
                        <label class="col-form-label">
                            Set Immediately
                        </label>
                        <div class="mb-4">
                            &nbsp;
                        </div>
                    </div>
                    <button class="btn btn-default" onclick="elvCmdSend(this);" data-cmd="immediately">Send</button>
                    <button class="btn btn-default" onclick="elvCmdReset(this);" data-cmd="immediately">Reset</button>
                </div>
            </div>
        </div>
        <div id="elvScheduler" class="tab-pane wrapper-has-nav-content row">
            <div class="cmdElv-scheduler-grid"></div>
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupElevatorCmd-scheduler-toolbar">
    <div class="toolbar">
        <label class="category-label" for="category">Show scheduler by:</label>
        <select name="scheduler-by" id="scheduler-by" style="width: 150px;">
            <option value="Upcoming">Upcoming</option>
            <option value="History">History</option>
            <option value="All">All</option>
        </select>
    </div>
</script>

<script type="text/x-kendo-template" id="tmpl-windowPopupSmartPlugFloorMap">
    <div class="row">
        <div class="col-md-12 img-smartplug-bg" style="background-image: url('@Url.Content("~/Content/assets/digitaltwin/img/")#= data.floor #_map.jpg')">
            # for(var i = 0; i < data.data.length ;i++){ #
            <a href="javacript:void(0);" id="device-smartplug-#= data.data[i].ObjectName #" onclick="setPanel('#= data.data[i].ObjectName #')" class="device-smartplug-button device-smartplug-button-#= data.data[i].Relay #" style="top:#= data.data[i].Top #px;left:#= data.data[i].Left #px;"></a>
            # } #
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupContactTracing">
    <div class="filter-contact-tracing p-4">
        <div class="form-group">
            <label class="col-form-label">Person ID</label>
            <div>
                <input type="text" class="has-input" id="contact-tracing-userId" />
            </div>
        </div>
        <div class="form-group mb-0">

            <div id="dateContactTracing" class="w-100">

            </div>
        </div>
        <div class="form-group">
            <a href="javacript:void(0);" class="btn btn-default btn-conctact-tracing btn-has-green" onclick="contactTracing()">Contact Tracing</a>
        </div>
    </div>

</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupContactTracingCec">
    <div class="filter-contact-tracing p-4">
        <div class="form-group">
            <label class="col-form-label">Person ID</label>
            <div>
                <input type="text" class="has-input" id="contact-tracing-userId-cec" />
            </div>
        </div>
        <div class="form-group mb-0">

            <div id="dateContactTracing" class="w-100">

            </div>
        </div>
        <div class="form-group">
            <a href="javacript:void(0);" class="btn btn-default btn-conctact-tracing btn-has-green" onclick="contactTracingCec()">Contact Tracing</a>
        </div>
    </div>

</script>
<script type="text/x-kendo-template" id="tmpl-windowPopupContactTracingPlayback">
    <div class="popup-top-border"></div>
    <div class="pl-4 pr-4 pt-4 d-flex">
        <div class="playback-leftside">
            <div class="popup-contact-tracing-playback" style="background-image: url('@Url.Content("~/Content/assets/digitaltwin/img/f07_map.jpg")')">
                <img src="@Url.Content("~/Content/assets/images/icon-user.png")" class="person-icon-playback"></a>
            </div>
            <div class="wrapper-popup-contact-tracing-playback-action d-flex">
                <div class="popup-contact-tracing-playback-action">
                    <div id="popup-contact-tracing-playback-action" class="w-100">
                    </div>
                </div>
                <div class="popup-contact-tracing-playback-button">
                    <a href="javascript:void(0)" onclick="playbackBackwardButton()">
                        <i class="fa fa-backward"></i>
                    </a>
                    <a href="javascript:void(0)" onclick="playbackButton()">
                        <i id="playButton" class="fa fa-play"></i>
                    </a>
                    <a href="javascript:void(0)" onclick="playbackForwardButton()">
                        <i class="fa fa-forward"></i>
                    </a>
                    <div id="current-speed" class="text-white">SPEED: x0</div>
                </div>
            </div>
            <div class="speed-desc">
                <p>Playback Speed x0 (1sec = 1sec)</p>
            </div>
        </div>
        <div class="playback-rightside">
            <h5>Floor 07</h5>
            <p class="zonename">Zone Name: </p>
            <p>Date: #= kendo.toString(new Date(), "dd-MM-yyyy") #</p>
        </div>
    </div>
    <div class="popup-bottom-border"></div>
</script>
<script type="text/javascript">
    function savePresentValue(e) {
        if ($("#cat-present-value").val() === "VAV") {
            var data = {
                DeviceID: $("#device-id-present-value").val(),
                ObjectID: $("#object-present-value").val(),
                ObjectTypeID: $("#unit-present-value").val(),
                PresentValue: $("#input-present-value").val(),
            }
            var valid = ValidationPresentValue(data);
            if (valid.errorcode > 0) {
                alert(valid.msg);
            } else {
                console.log(data);
                var voData = {
                    cmd: "Write",
                    DeviceID: data.DeviceID,
                    ObjType: "OBJECT_ANALOG_OUTPUT:"+data.ObjectID,
                    value: data.PresentValue
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Commands", "Home")',
                    data: JSON.stringify(voData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        if (result.msg != "success")
                        {
                            alert("success set value Room Temp Setpoint!");
                        }
                    },
                    error: function (xmlhttprequest, textstatus, message) {

                    }
                });
            }
        } else {
            var data = {
                DeviceID: $("#device-id-present-value").val(),
                ObjectID: $("#object-present-value").val(),
                Unit: $("#unit-present-value").val(),
                PresentValue: $("#input-present-value").val(),
            }
            var valid = ValidationPresentValue(data);
            if (valid.errorcode > 0) {
                alert(valid.msg);
            } else {
                var data_temp = JSON.parse(localStorage.getItem(data.DeviceID));
                console.log(data_temp);
                var idx = data_temp.findIndex(w => w.ObjectID == data.ObjectID);

                const old_value = data_temp[idx].PresentValue;
                data_temp[idx] = {
                    ObjectID: data.ObjectID,
                    Unit: data.Unit,
                    PresentValue: data.PresentValue,
                };

                localStorage.setItem(data.DeviceID, JSON.stringify(data_temp));

                //set alert
                let data_alert = JSON.parse(localStorage.getItem("alert"));
                var alert_temp = {
                    timestamp: kendo.toString(new Date(), 'dd-MM-yyyy HH:mm:ss'),
                    msg: data.DeviceID + "-" + $("#windowPopupPresentValue_wnd_title").html().split("-")[1] + "; " + old_value + "->" + data.PresentValue + "."
                }
                data_alert.push(alert_temp);
                localStorage.setItem("alert", JSON.stringify(data_alert));
                $("#windowPopupPresentValue").data("kendoWindow").close();
                setPanel(data.DeviceID);
            }
        }
    }
    function ValidationPresentValue(data) {
        var result = { msg: "", errorcode: 0 };
        if (data.PresentValue == "") { result.msg += "PresentValue is required. \n"; result.errorcode = 500; }

        return result;
    }
</script>